﻿<!DOCTYPE html>
<html ng-app="FlatworldCMS">
<head>
    @using FlatworldCMS.Helpers;
    <meta charset="utf-8" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="google-signin-client_id" content='@System.Web.Configuration.WebConfigurationManager.AppSettings["GoogleClientId"]'>
    <title>Genie Circle</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <style>
        md-toast.md-error-toast-theme div.md-toast-content {
            color: white !important;
            background-color: red !important;
        }

        md-toast.md-success-toast-theme div.md-toast-content {
            color: white !important;
            background-color: green !important;
        }

        .overlay {
            background-color: rgb(255, 255, 255);
            z-index: 999;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <span class="overlay" us-spinner="{radius:20, width:8, length: 8}"></span>
        <div class="sidebar" data-color="purple"> 
            <div class="logo"> <a href="#" class="simple-text"> Genie Circle </a> </div>
           
            <div class="sidebar-wrapper">
                <ul class="nav" id="sidebarMenu">
                    <li id="lnkDashboard">
                        <a href="#/Dashboard">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li id="lnkUsers">
                        <a href="#/Users">
                            <i class="material-icons">supervisor_account</i>
                            <p>Users</p>
                        </a>
                    </li>
                    <li id="lnkProjects">
                        <a href="#/Projects">
                            <i class="material-icons">code</i>
                            <p>Projects</p>
                        </a>
                    </li>
                    <li id="lnkBirthdays">
                        <a href="#/Birthdays">
                            <i class="material-icons">cake</i>
                            <p>Birthdays</p>
                        </a>
                    </li>
                    @*<li id="lnkNews">
                        <a href="#/News">
                            <i class="material-icons">library_books</i>
                            <p>News</p>
                        </a>
                    </li>*@
                    <li id="lnkAnnouncements">
                        <a href="#/Announcements">
                            <i class="material-icons">record_voice_over</i>
                            <p>Announcements</p>
                        </a>
                    </li>
                    <li id="lnkPhotoAlbum">
                        <a href="#/PhotoAlbum">
                            <i class="material-icons">subscriptions</i>
                            <p>Photos</p>
                        </a>
                    </li>
                    <li id="lnkBanners" permission="Administrator">
                        <a href="#/Banners">
                            <i class="material-icons">perm_media</i>
                            <p>Banners</p>
                        </a>
                    </li>
                    <li id="lnkVideoAlbums" class="{active: $route.current.activetab == 'Video'}">
                        <a href="#/VideoAlbums">
                            <i class="material-icons">subscriptions</i>
                            <p>Videos</p>
                        </a>
                    </li>
                    <li id="lnkEvents">
                        <a href="#/Events">
                            <i class="material-icons">content_paste</i>
                            <p>Events</p>
                        </a>
                    </li>
                    <li id="lnkDocuments">
                        <a href="#/Documents">
                            <i class="material-icons text-gray">folder</i>
                            <p>Documents</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="#/ApplicationSettings">
                               <i class="material-icons">folder</i> Application Settings
                                <div class="ripple-container"></div>
                            </a>
</li>

                </ul>
            </div>
           
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-absolute navbar-bg">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <div class="logo text-white navbar-brand hide-lg"> <a href="#" class="simple-text"> Genie Circle </a> </div>
                    </div>
                   

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            
                            <li class="dropdown">

                                <a class="dropdown-toggle" data-toggle="dropdown" ng-controller="DashboardCtrl">
                                    <img class="user-image" ng-src="{{loggedInUser.profilepicPath}}" src="/img/faces/user.png">  {{loggedInUser.FullName}}
                                </a>
                                  
                                       
                                    
                               
                                
                                <ul class="dropdown-menu">
                                    @*@if (User.Identity.IsAuthenticated)
                                        {*@
                                    @*<li>
                                            <input ng-controller="DashboardCtrl" type="text" search>
                                        </li>*@
                                   
                                    <li><a href="#/Profile">My Profile</a></li>
                                    <li><a ng-controller="DashboardCtrl" ng-click="signOut()">Logout</a></li>
                                    @*}
                                        else
                                        {
                                            <li>
                                                <div class="g-signin2" data-longtitle="true" data-theme="light" data-onsuccess="onSignIn"></div>
                                            </li>
                                        }*@
                                </ul>
                            </li>
                        </ul>

                        <div  ng-controller="DashboardCtrl" ng-show="IsSuperUser()">
                            <label for="CompanyID">Company</label>
                                <md-select ng-change="SaveUserSelectedCompany()" ng-controller="DashboardCtrl"  ng-model="CompanyID"   name="CompanyID">
                                    <md-option ng-repeat="item in Companies"  ng-value="item.Value">
                                        {{item.Text}}
                                    </md-option>
                                </md-select>
                           </div>
                            @*<form class="navbar-form navbar-right" role="search">
                <div class="form-group  is-empty">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="material-input"></span>
                </div>
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </form>*@
                      
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>
            <footer class="footer">
                <div class="container-fluid">
                    @*<nav class="pull-left">
                            <ul>
                                <li> <a href="#"> Home </a> </li>
                                <li> <a href="#"> Terms &amp; Conditions </a> </li>
                                <li> <a href="#"> Privacy Policy </a> </li>
                            </ul>
                        </nav>*@
                    <div class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="#">Flatworld Intranet</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>


</body>

</html>
<script type="text/javascript">


 




    @*function signOut() {
        debugger;
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            $.ajax({
                async: true,
                type: "GET",
                url: '@Url.Content("~/Account/Logout")',
                success: function () {
                    window.location = "/Account/Login";
                },
                error: function () {

                }
            });
        });

    }
    function onLoad() {
        debugger;
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    }*@

    // window.location = '@System.Web.Configuration.WebConfigurationManager.AppSettings["ApplicationUrl"]#/Dashboard';

    @*function onSignIn(googleUser) {

        var profile = googleUser.getBasicProfile();

        $.ajax({
            async: true,
            type: "POST",
            url: '@Url.Content("~/Account/Login")',
            data: {
                email: profile.getEmail()
            },
            success: function (result) {
                if (result) {
                    if (result == "Invalid Email ID") {
                        alert(result);
                        document.location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=@System.Web.Configuration.WebConfigurationManager.AppSettings["ApplicationUrl"]Account/Login";
                    }
                    else if (result == "No access") {
                        var auth2 = gapi.auth2.getAuthInstance();
                        auth2.signOut().then(function () {
                            document.location.href = "@System.Configuration.ConfigurationManager.AppSettings["GoogleSignInURL"]";
                        });
                    }
                    else {
                       location.reload();
                       // $scope.Login()
                        //document.location.href = '@System.Web.Configuration.WebConfigurationManager.AppSettings["ApplicationUrl"]#/Dashboard';
                    }
                }
            },
        });
    }*@

</script>
