﻿
@{
    ViewBag.Title = "Register";
    Layout = "";
}

<script type="text/javascript">
    var mailFlag = false;
    function validateEmail(email) {

        var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (mailformat.test(email)) {
            mailFlag = true;
            return true;

        }

        else return false;
    }

    function Save() {
        var employeeName = document.getElementById("CompanyName").value;
        var companyEmail = document.getElementById("CompanyEmail").value;
        var address = document.getElementById("Address").value;
        var zipCode = document.getElementById("Zipcode").value;
        var firstName = document.getElementById("FirstName").value;
        var contactEmail = document.getElementById("ContactEmail").value;
        var mobile = document.getElementById("Mobile").value;
        validateEmail(companyEmail);
        validateEmail(contactEmail);
        if (employeeName != "" && companyEmail != "" && address != "" && zipCode != "" && firstName != "" && contactEmail != "" && mobile != "" && mailFlag) {

                $.ajax({
                url: '@Url.Action("UserRegistration", "Register")',
                dataType:"JSON",
                type:"POST",
                data: {
                    CompanyName: employeeName,
                    CompanyEmail: companyEmail,
                    Address: address,
                    Zipcode:zipCode,
                    FirstName: firstName,
                    Mobile: mobile,
                    UserEmail: contactEmail
                }
            }).success(function (result) {
                //alert("Success");
                document.location.href = '@System.Web.Configuration.WebConfigurationManager.AppSettings["ApplicationUrl"]' + 'Account/Login/';
            })
        }else {
            if (employeeName == "" || companyEmail == "" || address == "" || zipCode == "" || firstName == "" || contactEmail == "" || mobile == "") {
                alert("Enter all the details");
            }
            else if (!mailFlag)
            {
                alert("Enter correct email address");
            }
            else
            alert("Failure");
        }

    }
    function Clear() {
        document.getElementById("CompanyName").value="";
        document.getElementById("CompanyEmail").value = "";
        document.getElementById("Address").value = "";
        document.getElementById("Zipcode").value = "";
        document.getElementById("FirstName").value = "";
        document.getElementById("ContactEmail").value = "";
        document.getElementById("Mobile").value = "";
    }
</script>
<!DOCTYPE html>
<html ng-app="FlatworldCMS">
<head>
    @using FlatworldCMS.Helpers;
    <meta charset="utf-8" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Genie Circle</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        md-toast.md-error-toast-theme div.md-toast-content {
            color: white !important;
            background-color: red !important;
        }

        md-toast.md-success-toast-theme div.md-toast-content {
            color: white !important;
            background-color: green !important;
        }

        .overlay {
            background-color: rgb(255, 255, 255);
            z-index: 999;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <form onload="Clear()">
            <div class="main-panelResgister">

                <div class="col-sm-2"></div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h3 class="title ">Registration</h3>
                        </div>
                        <div class="card-content">
                            <h5 class="text-primary" ">Company Details</h5><hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Company Name</label>
                                            <input id="CompanyName" ng-model="CompanyName" name="CompanyName">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Company Email</label>
                                            <input type="email" id="CompanyEmail">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Address</label>
                                            <input id="Address" />
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Zip Code</label>
                                            <input type="text" id="Zipcode">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <h5 class="text-primary" ">User Details</h5><hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating is-empty">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>First Name</label>
                                            <input type="text" id="FirstName">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating is-empty">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Contact Email</label>
                                            <input type="email" id="ContactEmail">
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group label-floating is-empty">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Mobile</label>
                                            <input type="number" id="Mobile">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <button id="Clear" class="btn btn-default pull-right" onclick="Clear()">Clear </button>
                            <button id="Submit" class="btn btn-primary pull-right" onclick="Save()"> Submit </button>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>

            </div>
        </form>
    </div>
</body>
</html>


