﻿@using FlatworldCMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/material-dashboard.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<style type="text/css">
    html {
        position: relative;
        min-height: 100%;
    }

    .carousel-fade .carousel-inner .item {
        opacity: 0;
        transition-property: opacity;
    }

    .carousel-fade .carousel-inner .active {
        opacity: 1;
    }

        .carousel-fade .carousel-inner .active.left,
        .carousel-fade .carousel-inner .active.right {
            left: 0;
            opacity: 0;
            z-index: 1;
        }

    .carousel-fade .carousel-inner .next.left,
    .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
    }

    .carousel-fade .carousel-control {
        z-index: 2;
    }

    @@media all and (transform-3d), (-webkit-transform-3d) {
        .carousel-fade .carousel-inner > .item.next,
        .carousel-fade .carousel-inner > .item.active.right {
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .carousel-fade .carousel-inner > .item.prev,
        .carousel-fade .carousel-inner > .item.active.left {
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

            .carousel-fade .carousel-inner > .item.next.left,
            .carousel-fade .carousel-inner > .item.prev.right,
            .carousel-fade .carousel-inner > .item.active {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
    }

    .item:nth-child(1) {
        background: url('../../img/cover1.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .item:nth-child(2) {
        background: url('../../img/cover2.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .item:nth-child(3) {
        background: url('../../img/cover3.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .carousel {
        z-index: -99;
    }

        .carousel .item {
            position: fixed;
            width: 100%;
            height: 100%;
        }

    .title {
        margin-top: 20px;
        padding: 10px;
        color: #FFF;
    }
</style>

<div class="col-lg-12">
    <!-- Inspired by http://codepen.io/transportedman/pen/NPWRGq -->

    <div class="carousel slide carousel-fade" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
            </div>
            <div class="item">
            </div>
            <div class="item">
            </div>
        </div>
    </div>

    <!-- Remeber to put all the content you want on top of the slider below the slider code -->

    <div class="title">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h3 class="title">Genie Circle </h3>                    
                </div>
                <div class="card-content margin-top-10">
                    
                        <form class="pull-left" action="/Account/Login?ReturnUrl=%2fweb%2f" method="post">
                            <div class="g-signin2" data-longtitle="true" data-theme="dark" data-width="200" data-onsuccess="onSignIn"></div>
                            <div class="clearfix"></div>
                        </form>
                        <input class="btn register pull-right" type="submit" name="submit" value="Register" onclick="@("window.location.href='" + @Url.Action("Register", "Register") + "'");" />
                   <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<meta name="google-signin-client_id" content='@System.Web.Configuration.WebConfigurationManager.AppSettings["GoogleClientId"]'>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>




<script>
    $(document).ready(function () {
        $('.carousel').carousel();
    });

    function onSignIn(googleUser) {

        var profile = googleUser.getBasicProfile();

        $.ajax({
            async: true,
            type: "POST",
            url: '@Url.Content("~/Account/Login")',
            data: {
                email: profile.getEmail()
            },
            success: function (result) {
                debugger;
                if (result) {
                    if (result == "Invalid Email") {
                        alert(result);
                        document.location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=@System.Web.Configuration.WebConfigurationManager.AppSettings["ApplicationUrl"]Account/Login";
                    }
                    else if (result == "No access") {
                        var auth2 = gapi.auth2.getAuthInstance();
                        auth2.signOut().then(function () {
                            document.location.href = "@System.Configuration.ConfigurationManager.AppSettings["GoogleSignInURL"]";
                        });
                    }
                    else {

                        if (result == 1) {
                        }
                        else { }
                        debugger;

                        document.location.href = '@System.Web.Configuration.WebConfigurationManager.AppSettings["ApplicationUrl"]' + 'Home/Index/';
                    }
                }
            },
        });
    }

</script>
@*Test build 2017.03.4*@


