﻿
<div style="margin-left:20pt;margin-right:20pt">
    <input type="hidden" name="customerId">


    <meta charset="UTF-8">
    <title></title>
    <meta name="Generator" content="PowerTools for Open XML">
    <style>
        p.css-Normal {
            margin-top: 12pt;
            text-align: justify;
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            line-height: 108%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: .001pt;
        }

        span.css-DefaultParagraphFont {
            font-size: 11pt;
            font-style: normal;
            font-weight: normal;
            margin: 0;
            padding: 0;
        }

        span.css-000000 {
            margin: 0 0 0 0.39in;
            padding: 0 0 0 0;
        }

        span.css-000001 {
            margin: 0 0 0 0.47in;
            padding: 0 0 0 0;
        }

        span.css-DefaultParagraphFont-000002 {
            font-size: 11pt;
            font-style: normal;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        span.css-DefaultParagraphFont-000003 {
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            font-style: normal;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        p.css-Normal-000004 {
            margin-top: 0;
            text-align: justify;
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            line-height: 108%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: .001pt;
        }

        span.css-000005 {
            font-size: 11pt;
            font-style: normal;
            font-weight: normal;
            margin: 0;
            padding: 0;
        }

        p.css-Normal-000006 {
            margin-top: 0.5pt;
            margin-bottom: 0.5pt;
            text-align: center;
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            line-height: 108%;
            margin-left: 0;
            margin-right: 0;
        }

        span.css-000007 {
            font-size: 11pt;
            text-decoration: underline;
            font-style: normal;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        span.css-DefaultParagraphFont-000008 {
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            text-decoration: underline;
            font-style: normal;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        h4.css-Heading4 {
            margin-top: 0.5pt;
            margin-bottom: 0.5pt;
            margin-left: 0;
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            line-height: 108%;
            margin-right: 0;
        }

        span.css-DefaultParagraphFont-000009 {
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            font-style: italic;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        p.css-Normal-000010 {
            margin-top: 0.5pt;
            margin-bottom: 0.5pt;
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            line-height: 108%;
            margin-left: 0;
            margin-right: 0;
        }

        span.css-DefaultParagraphFont-000011 {
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            font-style: normal;
            font-weight: normal;
            margin: 0;
            padding: 0;
        }

        span.css-000012 {
            font-size: 11pt;
            font-style: italic;
            font-weight: normal;
            margin: 0;
            padding: 0;
        }

        span.css-DefaultParagraphFont-000013 {
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            font-style: italic;
            font-weight: normal;
            margin: 0;
            padding: 0;
        }

        p.css-Normal-000014 {
            margin-top: 12pt;
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            line-height: 108%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: .001pt;
        }

        span.css-DefaultParagraphFont-000015 {
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            font-style: normal;
            font-weight: bold;
            margin: 0;
            padding: 0;
            display: inline-block;
            text-indent: 0;
            r .470in;
        }

        span.css-DefaultParagraphFont-000016 {
            font-family: 'Arial', 'sans-serif';
            font-size: 11pt;
            font-style: normal;
            font-weight: normal;
            margin: 0;
            padding: 0;
            display: inline-block;
            text-indent: 0;
            r .470in;
        }
    </style>


    <div>
        <p dir="ltr" class="css-Normal">
            <span class="css-DefaultParagraphFont">
                <span class="css-000000">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont-000002">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span lang="en-GB" class="css-DefaultParagraphFont-000003"><i></i></span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000004">
            <span xml:space="preserve" class="css-000005"> </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000004">
            <span lang="en-GB" class="css-DefaultParagraphFont-000003"><i>Sudarshan Somayaji</i>,</span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000004">
            <span lang="en-GB" class="css-DefaultParagraphFont-000003"><i></i>,</span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000004">
            <span lang="en-GB" class="css-DefaultParagraphFont-000003">P.O BOX <i></i>.</span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal">
            <span lang="en-GB" xml:space="preserve">Ref No: </span>
            <span lang="en-GB"><i></i></span>
            <span class="css-DefaultParagraphFont-000002">
                <span class="css-000000">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont-000002">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont-000002">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont-000002">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont-000002">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont-000002">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont-000002">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont-000002">
                <span class="css-000001">&nbsp;</span>
            </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000006">
            <span xml:space="preserve" class="css-000007"> </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000006">
            <span lang="en-GB" xml:space="preserve" class="css-DefaultParagraphFont-000008">REF: DEMAND NOTICE </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <h4 dir="ltr" class="css-Heading4">
            <span lang="en-GB" class="css-DefaultParagraphFont-000009">Without Prejudice</span>
        </h4>
        <p dir="ltr" class="css-Normal-000010">
            <span xml:space="preserve" class="css-000005"> </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span lang="en-GB" class="css-DefaultParagraphFont-000011">Kindly refer to the heading above.</span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span xml:space="preserve" class="css-000005"> </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span lang="en-GB" xml:space="preserve" class="css-DefaultParagraphFont-000011">Kindly be informed that you have defaulted on remittance of your monthly instalment for the month of </span>
            <span lang="en-GB" xml:space="preserve" class="css-DefaultParagraphFont-000003"><i></i> </span>
            <span lang="en-GB" xml:space="preserve" class="css-DefaultParagraphFont-000011">contrary to our credit facility letter. As a result of this default your loan is in arrears by </span>
            <span lang="en-GB" class="css-DefaultParagraphFont-000003"><i></i><i></i>.</span>
            <span lang="en-GB" xml:space="preserve" class="css-DefaultParagraphFont-000011"> </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"><label name="attributes" id="10" class="t" style="display: unset;">HRRecruiter </label></div>
        <p dir="ltr" class="css-Normal-000010">
            <span xml:space="preserve" class="css-000005"> </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span lang="en-GB" xml:space="preserve" class="css-DefaultParagraphFont-000011">Be further informed that as a result of this breach, your loan is being charged a penal interest rate </span>
            <span lang="en-GB" xml:space="preserve" class="css-DefaultParagraphFont-000003"><i></i> </span>
            <span lang="en-GB" class="css-DefaultParagraphFont-000011">above the interest rate quoted on your offer letter.</span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span xml:space="preserve" class="css-000005"> </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span lang="en-GB" xml:space="preserve" class="css-DefaultParagraphFont-000011">You are hereby instructed to make the respective payment within seven (7) days from receipt of this letter failure to which, you shall acquire an adverse credit rating status within the bank hindering your chances of a top up, a good reference to other banks and/or referring any customer to the bank. </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span xml:space="preserve" class="css-000005"> </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span lang="en-GB" class="css-DefaultParagraphFont-000011">In the event that you think you will be unable to settle the amount within the given period, ensure to communicate this information in writing to the bank before expiration of the period. You should, further, communicate to the bank how you intend to organize the settlement of the amount before the next repayment due date.</span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span xml:space="preserve" class="css-000005"> </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span lang="en-GB" class="css-DefaultParagraphFont-000011">Thanking you in anticipation of your cooperation.</span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span xml:space="preserve" class="css-000012"> </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span lang="en-GB" class="css-DefaultParagraphFont-000013">(Attached is a copy of your loan statement)</span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span xml:space="preserve" class="css-000005"> </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span lang="en-GB" class="css-DefaultParagraphFont-000011">Yours Faithfully,</span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000014">
            <span lang="en-GB" xml:space="preserve" class="css-DefaultParagraphFont-000011">              </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span lang="en-GB" class="css-DefaultParagraphFont-000015"><i></i></span>
            <span class="css-DefaultParagraphFont-000002">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span lang="en-GB" xml:space="preserve" class="css-DefaultParagraphFont-000011"> </span>
            <span lang="en-GB" class="css-DefaultParagraphFont-000003"><i></i></span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span lang="en-GB" class="css-DefaultParagraphFont-000016">Relationship Manager, Retail Banking</span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span class="css-DefaultParagraphFont">
                <span class="css-000001">&nbsp;</span>
            </span>
            <span lang="en-GB" xml:space="preserve" class="css-DefaultParagraphFont-000011"> Head, Retail Banking</span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
        <p dir="ltr" class="css-Normal-000010">
            <span xml:space="preserve" class="css-000005"> </span>
        </p><div id="assigned_attributes" class="sortable ui-sortable" style="min-height: 4px;"></div>
    </div>


</div>

