<div class="sf_cols u-pr2 u-wa">
<div id="GeneralContent_C056_Col00" class="sf_colsIn">
<div class="sfContentBlock">
<p>The customer&rsquo;s buying journey is no longer a straight path from point A to point B, it&rsquo;s a complex maze that splits and bends between a variety of channels and touchpoints. Businesses need to be agile so they can keep a better pulse on their customers throughout the buying journey.</p>
<p>Welcome Progress<sup>&reg;</sup> Sitefinity&trade; into the mix. Sitefinity is a digital command centre that empowers your ability to manage content and customer interactions across all channels and at all points of the customer journey. Engage prospects where they stand, whenever they are ready to be reached.</p>
<p>If you&rsquo;re a prospective first-time buyer or potential digital agency partner, we welcome you to our Sitefinity event at our office in London on 7th March 2017. Learn how so many other companies are utilising Sitefinity to own the customer journey and create unforgettable digital experiences.&nbsp;</p>
<p>Don&rsquo;t delay, register today.</p>
</div>
</div>
</div>
<div class="sfContentBlock">
<h4>When?</h4>
<strong>Tuesday 7th March, 9.30-11.30<br /></strong><br />
<h4>Where?</h4>
<strong>2nd Floor, 14 Austin Friars, London, EC2N 2QP</strong></div>
