<ul class="blocks">
<li>
<div class="others">
<div class="headers">
<h6 class="sub-headline"><a href="http://www.espncricinfo.com/india/content/team/6.html" name="&amp;lpos=headline_row1area1">INDIA NEWS</a></h6>
<h2 class="featured-link"><a href="http://www.espncricinfo.com/india/content/story/1084852.html" name="&amp;lpos=headline_row1area1">Rohit Sharma set to return after four months</a></h2>
</div>
<div class="thumbnail">
<div class="img-wrap"><a href="http://www.espncricinfo.com/india/content/story/1084852.html" name="&amp;lpos=headline_row1area1"><img class="img-full" title="" src="http://p.imgci.com/db/PICTURES/CMS/254100/254163.4.jpg" alt="" data-src="http://p.imgci.com/db/PICTURES/CMS/254100/254163.4.jpg" /></a></div>
</div>
<div class="link-list-wrapper">
<ul class="link-list">
<li><a href="http://www.espncricinfo.com/india/content/story/1084852.html" name="&amp;lpos=headline_row1area1">Opener to play for Mumbai from March 4</a></li>
</ul>
</div>
</div>
</li>
<li>
<div class="others">
<div class="headers">
<h6 class="sub-headline"><a href="http://www.espncricinfo.com/india/content/team/6.html" name="&amp;lpos=headline_row1area2">INDIA NEWS</a></h6>
<h2 class="featured-link"><a href="http://www.espncricinfo.com/india/content/story/1084885.html" name="&amp;lpos=headline_row1area2">Kohli, Ashwin win top BCCI awards</a></h2>
</div>
<div class="thumbnail">
<div class="img-wrap"><a href="http://www.espncricinfo.com/india/content/story/1084885.html" name="&amp;lpos=headline_row1area2"><img class="img-full" title="" src="http://p.imgci.com/db/PICTURES/CMS/250600/250639.4.jpg" alt="" data-src="http://p.imgci.com/db/PICTURES/CMS/250600/250639.4.jpg" /></a></div>
</div>
<div class="link-list-wrapper">
<ul class="link-list">
<li><a href="http://www.espncricinfo.com/india/content/story/1084885.html" name="&amp;lpos=headline_row1area2">Captain will receive Polly Umrigar Award</a></li>
</ul>
</div>
</div>
</li>
<li class="hr"><hr /></li>
<li>
<div class="others">
<div class="headers">
<h6 class="sub-headline"><a href="http://www.espncricinfo.com/new-zealand-v-south-africa-2016-17/content/series/1020019.html" name="&amp;lpos=headline_row2area1">NZ IN SA 2016-17</a></h6>
<h2 class="featured-link"><a href="http://www.espncricinfo.com/new-zealand-v-south-africa-2016-17/content/story/1084909.html" name="&amp;lpos=headline_row2area1">Guptill the talk of town and country</a></h2>
</div>
<div class="thumbnail">
<div class="img-wrap"><a href="http://www.espncricinfo.com/new-zealand-v-south-africa-2016-17/content/story/1084909.html" name="&amp;lpos=headline_row2area1"><img class="img-full" title="" src="http://p.imgci.com/db/PICTURES/CMS/259500/259585.4.jpg" alt="" data-src="http://p.imgci.com/db/PICTURES/CMS/259500/259585.4.jpg" /></a></div>
</div>
<div class="link-list-wrapper">
<ul class="link-list">
<li><a href="http://www.espncricinfo.com/new-zealand-v-south-africa-2016-17/content/story/1084909.html" name="&amp;lpos=headline_row2area1">McGlashan: ODIs should be his priority</a></li>
<li><a href="http://www.espncricinfo.com/new-zealand-v-south-africa-2016-17/content/story/1084917.html" name="&amp;lpos=headline_row2area1">How should you use the DRS?</a></li>
<li><a href="http://www.espncricinfo.com/new-zealand-v-south-africa-2016-17/content/story/1084856.html" name="&amp;lpos=headline_row2area1">'My No. 1 knock' - Guptill</a></li>
<li><a href="http://www.espncricinfo.com/new-zealand-v-south-africa-2016-17/content/story/1084862.html" name="&amp;lpos=headline_row2area1"><strong>Poll</strong> - Most dominant knock in a chase</a></li>
</ul>
</div>
</div>
</li>
<li>
<div class="others">
<div class="headers">
<h6 class="sub-headline"><a href="http://www.espncricinfo.com/india-v-australia-2016-17/content/series/1030197.html" name="&amp;lpos=headline_row2area2">AUSTRALIA IN INDIA 2016-17</a></h6>
<h2 class="featured-link"><a href="http://www.espncricinfo.com/india-v-australia-2016-17/content/story/1084835.html" name="&amp;lpos=headline_row2area2">Australia's revival from Hobart to Pune</a></h2>
</div>
<div class="thumbnail">
<div class="img-wrap">
<div class="espni-vid-wrapper img-wrap sleek-vid">
<div class="espni-vid-placeholder" data-width="100%" data-height="168" data-id="58b71505e4b089f76c433e39" data-genre="index:pressconference" data-sharebuttons="true" data-autostart="false" data-expirationdate="" data-embargodate="" data-mezzaninepathimage="http://p.imgci.com/db/PICTURES/CMS/259300/259343.4.jpg?w=300&amp;h=168" data-unicornurl="" data-brightcoveurl="" data-assetname="" data-duration="" data-headlineshort="">&nbsp;</div>
<picture><img class="espni-vid-thumb full" src="http://p.imgci.com/db/PICTURES/CMS/259300/259343.4.jpg?w=300&amp;h=168" alt="" /></picture><span class="video-play-button espni-vid-thumb ">Play</span><span class="video-length espni-vid-thumb">01:17</span></div>
</div>
</div>
<div class="link-list-wrapper">
<ul class="link-list">
<li><a href="http://www.espncricinfo.com/india-v-australia-2016-17/content/story/1084835.html" name="&amp;lpos=headline_row2area2">Warner credits 'fantastic' preparation</a></li>
<li><a href="http://www.espncricinfo.com/ci/content/video_audio/1084898.html" name="&amp;lpos=headline_row2area2">'We know what to expect in Bangalore'</a></li>
<li><a href="http://www.espncricinfo.com/india-v-australia-2016-17/content/story/1084635.html" name="&amp;lpos=headline_row2area2">'Shut some people up' - Starc</a></li>
<li><a href="http://www.espncricinfo.com/india-v-australia-2016-17/content/story/1084552.html" name="&amp;lpos=headline_row2area2">'If I talk sense they listen' - Sriram</a></li>
<li><a href="http://www.espncricinfo.com/ci/content/video_audio/1084692.html" name="&amp;lpos=headline_row2area2">On The Road Challenge - Soaring over Pune</a></li>
<li><a href="http://www.espncricinfo.com/ci/content/video_audio/1084927.html" name="&amp;lpos=headline_row2area2">'Want to continue our winning ways at this ground' - Marsh</a></li>
</ul>
</div>
</div>
</li>
</ul>
