<div class="p20 h40 move handle dwidget_header">
<div class="fl w76per">
<div class="fs18px ffproxibld fsmooth col000 oflowh spaceNowrap w100per txtOverflow">My Bugs</div>
<div class="fs14px col777 clrboth pt5 spaceNormal wordBreak">View the details of the Bugs that need your attention</div>
</div>
<div id="mwaction_4" class="fr default fs12px col000 mt2">
<div class="fr pointer"><a class="addbtn lh18 pointer tourhomepage-2" href="https://projects.zoho.com/portal/flatworldsolutions#mybugs">View More</a></div>
</div>
</div>
<div id="dashwidgetholder">
<div class="dashwidgetpopcont">
<div>
<table id="myworkbugsfilter" border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr class="bgwhite">
<td class="bdrbtm7 pt13 pb13 vam pl10 tal">
<div class="oflowh fl h17 breakWord spaceNormal wordBreak mw98per breakAll"><a id="mybug_377924000001785109" class="plaintaskName" title="Manage Vehicles : Selected subscription date is not displaying." name="mybugs_zptitle"></a>Manage Vehicles : Selected subscription date is not displaying.</div>
</td>
<td class="bdrbtm7 vam pr10 pl15 pt13 pb13 tal">
<div class="fs14px min50max120 breakWord txtOverflow oflowh spaceNowrap" title="Car parking System">Car parking System</div>
</td>
<td class="bdrbtm7 vam pl15" title="Due Date">
<div class="fs13px w110px bugoflowh">-</div>
</td>
</tr>
<tr class="bgwhite">
<td class="bdrbtm7 pt13 pb13 vam pl10 tal">
<div class="oflowh fl h17 breakWord spaceNormal wordBreak mw98per breakAll"><a id="mybug_377924000001754990" class="plaintaskName" title="Tariffs  : Issues related to tariff module" name="mybugs_zptitle"></a>Tariffs : Issues related to tariff module</div>
</td>
<td class="bdrbtm7 vam pr10 pl15 pt13 pb13 tal">
<div class="fs14px min50max120 breakWord txtOverflow oflowh spaceNowrap" title="Car parking System">Car parking System</div>
</td>
<td class="bdrbtm7 vam pl15" title="Due Date">
<div class="fs13px w110px bugoflowh">-</div>
</td>
</tr>
<tr class="bgwhite">
<td class="bdrbtm7 pt13 pb13 vam pl10 tal">
<div class="oflowh fl h17 breakWord spaceNormal wordBreak mw98per breakAll"><a id="mybug_377924000001948283" class="plaintaskName" title="If application gets session time out then if user changes the grid number of records to display in the grid then no records are displaying nor navigating to login page" name="mybugs_zptitle"></a>If application gets session time out then if user changes the grid number of records to display in the grid then no records are displaying nor navigating to login page</div>
</td>
<td class="bdrbtm7 vam pr10 pl15 pt13 pb13 tal">
<div class="fs14px min50max120 breakWord txtOverflow oflowh spaceNowrap" title="Car parking System">Car parking System</div>
</td>
<td class="bdrbtm7 vam pl15" title="Due Date">
<div class="fs13px w110px bugoflowh">-</div>
</td>
</tr>
<tr class="bgwhite">
<td class="bdrbtm7 pt13 pb13 vam pl10 tal">
<div class="oflowh fl h17 breakWord spaceNormal wordBreak mw98per breakAll"><a id="mybug_377924000001948071" class="plaintaskName" title="All the grids in the application - pages navigation content is not converted to Turkey" name="mybugs_zptitle"></a>All the grids in the application - pages navigation content is not converted to Turkey</div>
</td>
<td class="bdrbtm7 vam pr10 pl15 pt13 pb13 tal">
<div class="fs14px min50max120 breakWord txtOverflow oflowh spaceNowrap" title="Car parking System">Car parking System</div>
</td>
<td class="bdrbtm7 vam pl15" title="Due Date">
<div class="fs13px w110px bugoflowh">-</div>
</td>
</tr>
<tr class="bgwhite">
<td class="bdrbtm7 pt13 pb13 vam pl10 tal">
<div class="oflowh fl h17 breakWord spaceNormal wordBreak mw98per breakAll"><a id="mybug_377924000001948155" class="plaintaskName" title="Add or Edit Tariff Page the marked text is not converted to Turkey" name="mybugs_zptitle"></a>Add or Edit Tariff Page the marked text is not converted to Turkey</div>
</td>
<td class="bdrbtm7 vam pr10 pl15 pt13 pb13 tal">
<div class="fs14px min50max120 breakWord txtOverflow oflowh spaceNowrap" title="Car parking System">Car parking System</div>
</td>
<td class="bdrbtm7 vam pl15" title="Due Date">
<div class="fs13px w110px bugoflowh">-</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
