<div id="dashmileprog_377924000000803009" class="dash_box col000 w22per fl tal">
<div class="dash_innerbox">
<div class="p20 h40 move handle dwidget_header tourdashboard-3">
<div class="bugoflowh w80per fl">
<div class="fs18px ffproxibld fsmooth col000" title="Milestone Status">Milestone Status</div>
<div class="fs14px col777 clrboth pt5 oflowh txtOverflow spaceNowrap" title="Know how far the team has travelled">Know how far the team has travelled</div>
</div>
</div>
<div id="dashwidgetholder_377924000000803009">
<div>&nbsp;</div>
<div class="dashwidgetpopcont_top">
<div class="bgwhite pt20 tac posrel">
<div class="w30per pt5 inlineBlock">
<div class="qulbl lh18 oflowh txtOverflow spaceNowrap">Open</div>
<div class="fs18px pt8 col000" title="Open Tasks">1</div>
</div>
<div class="w30per pt5 inlineBlock">
<div class="qulbl lh18 oflowh txtOverflow spaceNowrap">Closed</div>
<div class="fs18px pt8 col000" title="Closed Tasks">4</div>
</div>
<div class="w30per pt5 inlineBlock">
<div class="qulbl lh18 oflowh txtOverflow spaceNowrap">Total</div>
<div class="fs18px pt8 ffproxibld col000" title="Closed Tasks">5</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="dashtaskvscompletion_377924000000803009" class="dash_box w45per fl tal">
<div class="dash_innerbox">
<div class="fl pl10 pr8 pt25 move handle pb15 h16 zoho-reorder txt10 col666 tourdashboard-2">&nbsp;</div>
<div class="p20 h40 move handle dwidget_header tourdashboard-3">
<div class="fl bugoflowh w80per">
<div class="fs18px ffproxibld fsmooth col000">Task Progress Chart</div>
<div class="fs14px col777 clrboth pt5 oflowh txtOverflow spaceNowrap">Get the task count against a completion percentage</div>
</div>
<div id="dashaction_6" class="fr default fs12px mt4 hide">&nbsp;</div>
</div>
<div id="dashwidgetholder_377924000000803009">
<div class="dashwidgetpopcont">
<div id="graph_tvscomp_377924000000803009" class="dashchartbox">
<div class="d3container">
<div class="canvas-property">&nbsp;</div>
<div class="plotarea-property">&nbsp;</div>
<div class="overview">&nbsp;</div>
<div class="canvas-component">Completion Percentage0%20%40%60%80%100%Task Count050100150200
<div class="zcnotes">&nbsp;</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
