<div class="sf_cols row -pt3 -pb3">
<div class="sf_colsIn col-8 -m-mb2">
<div class="-bg-blue10 -mt1 -p2 -oh -hyphenate DatesBox">
<div class="-ff-title -fs36 -fw3 -mb1"><span class="event-start-date">07</span> March <br />2017</div>
<div class="-ff-title -fs17 -fw4 -ttu">&nbsp;</div>
<div class="-ff-title -fs17 -fw4 -ttu">2ND FLOOR, 14 AUSTIN FRIARS, LONDON, EC2N 2QP</div>
</div>
</div>
<div class="sf_colsIn col-15 col--offset-1 -l-two-thirds -m-full">
<h4 class="-lh100 -mb2 -fw4 -fs36"><a class="-ff-title -fs36" href="https://www.progress.com/campaigns/uk/sitefinity/SF-event-London" target="_blank">Own the Customer Journery with Sitefinity</a></h4>
<p class="-fs17 -c-grey">If you&rsquo;re a prospective first-time buyer or potential digital agency partner, we welcome you to our Sitefinity event at our office in London on 7th March 2017. Learn how so many other companies are utilising Sitefinity to own the customer journey and create unforgettable digital experiences.</p>
</div>
</div>
<hr class="-mt0 -mb0" />
<div class="sf_cols row -pt3 -pb3">
<div class="sf_colsIn col-8 -m-mb2">
<div class="-bg-blue10 -mt1 -p2 -oh -hyphenate DatesBox">
<div class="-ff-title -fs36 -fw3 -mb1"><span class="event-start-date">13</span>-<span class="event-end-date">17 March</span> <br />2017</div>
<div class="-ff-title -fs17 -fw4 -ttu">&nbsp;</div>
<div class="-ff-title -fs17 -fw4 -ttu">SAN JOSE CONVENTION CENTER, SAN JOSE, CA</div>
</div>
</div>
<div class="sf_colsIn col-15 col--offset-1 -l-two-thirds -m-full">
<h4 class="-lh100 -mb2 -fw4 -fs36"><a class="-ff-title -fs36" href="http://www.stratahadoopworld.com/" target="_blank">Strata + Hadoop World 2017</a></h4>
<p class="-fs17 -c-grey">Strata + Hadoop World is a 4-day immersion in the most challenging problems, intriguing use cases, and enticing opportunities in data today. Over a hundred of the most interesting people in data will take the stage to share their expertise and ideas, covering everything that&rsquo;s essential in data today. Visit Progress at Booth 1335.</p>
</div>
</div>
<hr class="-mt0 -mb0" />
<div class="sf_cols row -pt3 -pb3">
<div class="sf_colsIn col-8 -m-mb2">
<div class="-bg-blue10 -mt1 -p2 -oh -hyphenate DatesBox">
<div class="-ff-title -fs36 -fw3 -mb1"><span class="event-start-date">13</span> March <br />2017</div>
<div class="-ff-title -fs17 -fw4 -ttu">&nbsp;</div>
<div class="-ff-title -fs17 -fw4 -ttu">DOUBLETREE, 2050 GATEWAY PLACE, SAN JOSE, CA</div>
</div>
</div>
<div class="sf_colsIn col-15 col--offset-1 -l-two-thirds -m-full">
<h4 class="-lh100 -mb2 -fw4 -fs36"><a class="-ff-title -fs36" href="https://www.progress.com/campaigns/datadirect/events/datadirect-partner-summit-2017?utm_medium=delivery&amp;elqTrackId=29e796368d57481c9df47f05ad7d6712&amp;elq=842039ce071d473dbbde990d903f829c&amp;elqaid=11747&amp;elqat=1&amp;elqCampaignId=" target="_blank">Progress DataDirect Partner Summit 2017</a></h4>
<p class="-fs17 -c-grey">Join the world&rsquo;s leading experts on data connectivity for an exciting day of fun, learning and networking. Learn about and influence our roadmap for 2017-18. We are hosting our Partner Summit on March 13 to accommodate any colleagues planning on attending Strata+Hadoop in San Jose March 13th-16th. We will share all the details regarding our recent launch of DataDirect Hybrid Data Pipeline and the initial feedback from cloud ISVs.</p>
</div>
</div>
<hr class="-mt0 -mb0" />
<div class="sf_cols row -pt3 -pb3">
<div class="sf_colsIn col-8 -m-mb2">
<div class="-bg-blue10 -mt1 -p2 -oh -hyphenate DatesBox">
<div class="-ff-title -fs36 -fw3 -mb1"><span class="event-start-date">28</span>-<span class="event-end-date">29 March</span> <br />2017</div>
<div class="-ff-title -fs17 -fw4 -ttu">&nbsp;</div>
<div class="-ff-title -fs17 -fw4 -ttu">&nbsp;</div>
</div>
</div>
<div class="sf_colsIn col-15 col--offset-1 -l-two-thirds -m-full">
<h4 class="-lh100 -mb2 -fw4 -fs36"><a class="-ff-title -fs36" href="http://www.healthcareitconnect.com/" target="_blank">2017 State Healthcare IT Connect Summit</a></h4>
<p class="-fs17 -c-grey">&nbsp;</p>
</div>
</div>
<hr class="-mt0 -mb0" />
<div class="sf_cols row -pt3 -pb3">
<div class="sf_colsIn col-8 -m-mb2">
<div class="-bg-blue10 -mt1 -p2 -oh -hyphenate DatesBox">
<div class="-ff-title -fs36 -fw3 -mb1"><span class="event-start-date">05</span> April <br />2017</div>
<div class="-ff-title -fs17 -fw4 -ttu">&nbsp;</div>
<div class="-ff-title -fs17 -fw4 -ttu">QAD, SIR STANLEY CLARKE HOUSE 7 RIDGEWAY, QUINTON BUSINESS PARK, BIRMINGHAM B32 1AF</div>
</div>
</div>
<div class="sf_colsIn col-15 col--offset-1 -l-two-thirds -m-full">
<h4 class="-lh100 -mb2 -fw4 -fs36"><a class="-ff-title -fs36" href="http://www.puguk.org/index.php/news/122-pug-uk-conference-summer-2016" target="_blank">PUG UK &amp; Ireland Spring Conference 2017</a></h4>
<p class="-fs17 -c-grey">We have lined up a fantastic program of technical sessions with some very well respected speakers from the OpenEdge community. We also have two workshops planned.</p>
</div>
</div>
