<div id="layoutdiv">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="topBg" valign="bottom" height="30">
<div id="header">
<div id="zp_banner">&nbsp;</div>
<div id="zptopheader">
<div id="zTopHeaderId" class="">
<div id="topBg" class="topfixed">
<div id="switchToDiv" align="left">&nbsp;</div>
<div id="global_timer_video">&nbsp;</div>
<div class="topHeaderNew th_drbg_bgcol">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="headermenuparent" valign="top">
<div>
<div id="home-nav-div" class="fsmooth ffproxibld">
<div class="fl">
<div class="w51px fl">
<div id="orglogo" class="pl10 lh46 pointer"><img src="https://img.zohostatic.com/projects/d66/images/proj-moz-48.png" width="30" height="30" align="absmiddle" /></div>
</div>
</div>
<div id="topProjMenu_myhome" class="topband_projunsel topband_link th_link_col fl pl10 pr10 tac lh46 txtOverflow spaceNowrap posrel hinttool headerwidauto" title="Home"><a class="topband_link th_link_col" href="https://projects.zoho.com/portal/flatworldsolutions#mywork">Home</a></div>
<div id="topProjMenu_myfeed" class="topband_projunsel topband_link th_link_col fl pl10 pr10 tac lh46 txtOverflow spaceNowrap posrel hinttool headerwidauto" title="Feed"><a class="topband_link th_link_col" href="https://projects.zoho.com/portal/flatworldsolutions#myfeed">Feed</a></div>
<div id="topProjMenu_allproj" class="topband_projunsel topband_link th_link_col fl pl10 pr10 tac lh46 txtOverflow spaceNowrap posrel hinttool headerwidauto" title="Projects"><a class="topband_link th_link_col" href="https://projects.zoho.com/portal/flatworldsolutions#allprojects">Projects</a></div>
</div>
<div id="headerprojMenu" class="lh46 fsmooth ffproxibld headermenuwid">
<div id="tprojMenu_377924000001588007">
<div id="topProjMenu_377924000001588007" class="topband_projunsel topband_link th_link_col fl pl10 pr10 tac lh46 txtOverflow spaceNowrap posrel hinttool headerwidauto">
<div class="oflowh txtOverflow spaceNowrap fl mw100per breakWord">
<div class=" fl pt17 pr6 fs12px" title="active">&nbsp;</div>
<a class="topband_link th_link_col" href="https://projects.zoho.com/portal/flatworldsolutions#plainview/377924000001588007">Car parking System</a></div>
</div>
</div>
<div id="tprojMenu_377924000000069025">
<div id="topProjMenu_377924000000069025" class="topband_projunsel topband_link th_link_col fl pl10 pr10 tac lh46 txtOverflow spaceNowrap posrel hinttool headerwidauto">
<div class="oflowh txtOverflow spaceNowrap fl mw100per breakWord">
<div class=" fl pt17 pr6 fs12px" title="active">&nbsp;</div>
<a class="topband_link th_link_col" href="https://projects.zoho.com/portal/flatworldsolutions#todomilestones/377924000000069025">Learning &amp; Training</a></div>
</div>
</div>
<div id="tprojMenu_377924000000803009">
<div id="topProjMenu_377924000000803009" class="topband_projsel topband_linksel fl pl10 pr10 tac lh46 txtOverflow spaceNowrap posrel hinttool headerwidauto">
<div class="oflowh txtOverflow spaceNowrap fl mw100per breakWord">
<div class=" fl pt17 pr6 fs12px" title="active">&nbsp;</div>
<a class="topband_linksel" href="https://projects.zoho.com/portal/flatworldsolutions#dashboard/377924000000803009">MCE Payroll Automation Project</a></div>
</div>
</div>
</div>
</div>
<div class="fl">&nbsp;</div>
</td>
<td class="pt10 spaceNowrap fr h30" align="right" valign="top">
<div id="tonewuibtn" class="pointer ffproxi_light fl vat">
<div class="colfff" title="Switch to Old UI">Switch to Old UI</div>
</div>
<div id="topheader_container">
<div id="searchiconNew1" class="topband_linksel fl pl12 pr12 mt2 tac hinttool posrel">&nbsp;</div>
<div id="globaltimerIcon" class="topband_linksel fl pl12 pr12 mt2 tac hinttool posrel">&nbsp;</div>
<div id="globalnotificationIcon" class="topband_linksel fl pl10 pr10 mt2 tac hinttool posrel">&nbsp;</div>
<div id="zpglobalusersetting" class="topband_linksel fl pl10 pr10 mt2 tac hinttool posrel">&nbsp;</div>
<div class="fr mr12 ml12 mt2">
<div class="fownerphoto"><img id="topownerphoto" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=59074111" width="30" height="30" /></div>
</div>
<div class="posrel">&nbsp;</div>
<div id="topnotify" class="zc-switch-containerNew p0">
<div id="topbar_ntfn" class="ntfnPos topbar_actions">
<div class="tal bgf5f5f5">
<div class="p15 clrboth col000 fl bdrbtm">
<div class="fl fs18px">Notifications</div>
<div class="fl">&nbsp;</div>
<div class="fr pointer" title="Close">&nbsp;</div>
</div>
<div class="fl w100per">
<div id="fbadgediv">
<div id="fnotify">
<div id="V86vr4N3%2BuO2r1EvHN%2B6QXRBxcSHKV6uV4mkUISNAGi8tANdkqxjfw%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=615359403" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">
<div class="fr h0" title="+1 more"><img class="notifyCountImg" src="https://img.zohostatic.com/projects/d66/images/spacer.gif" border="0" />
<div class="gnotifycountTxt">1</div>
</div>
</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Baijumon P welcomes you to join project</div>
<div class="h20 subtxt3 fs13px">
<div class="fl subtxt2">Participants</div>
</div>
<div class="fl w30px"><img class="bdrcircle24" title="1" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=615359403" width="28" height="28" /></div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Wednesday,1&nbsp;Mar&nbsp;2017&nbsp;at&nbsp;11:37&nbsp;AM">Yesterday at 11:37 AM</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="59lIyPXWZx9vBPVUhXKMfeMBsuEzYVGtn6k6gsPaydHidEIqrElEMg%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=4938759" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Prashanth Samant added TaskList in Learning &amp; Training</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Monday,27&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;03:20&nbsp;PM">February&nbsp;27</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="Ip27hTWM%2B%2FJvBPVUhXKMfeMBsuEzYVGtn6k6gsPaydHidEIqrElEMg%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=4938759" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Prashanth Samant added Milestone in Learning &amp; Training</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Monday,27&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;03:20&nbsp;PM">February&nbsp;27</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="gI1cHPltBaWFhHnboMJyQRkruZnsJ%2BjLf9SdKkEAVKZaAIpeh7zXLQ%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=639131785" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Vigneshkumar added TaskList in Learning &amp; Training</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Monday,13&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;03:46&nbsp;PM">February&nbsp;13</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="IX4dItahkVuFhHnboMJyQRkruZnsJ%2BjLf9SdKkEAVKZaAIpeh7zXLQ%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=639131785" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Vigneshkumar added Milestone in Learning &amp; Training</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Monday,13&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;03:46&nbsp;PM">February&nbsp;13</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="X2hKkFZqtgoojBYX1DwrnDdaM%2FKxeP5wn6k6gsPaydHidEIqrElEMg%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=65263512" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">
<div class="fr h0" title="+4 more"><img class="notifyCountImg" src="https://img.zohostatic.com/projects/d66/images/spacer.gif" border="0" />
<div class="gnotifycountTxt">4</div>
</div>
</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">pavana kn posted comment for Bug in Car parking System</div>
<div class="h20 subtxt3 fs13px">
<div class="fl subtxt2">Participants</div>
</div>
<div class="fl w30px"><img class="bdrcircle24" title="1" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="28" height="28" /></div>
<div class="fl w30px"><img class="bdrcircle24" title="3" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=65263512" width="28" height="28" /></div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Sunday,12&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;02:04&nbsp;PM">February&nbsp;12</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="VbMXKUCghCWIfcTQQ5NcKzdaM%2FKxeP5wn6k6gsPaydHidEIqrElEMg%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=65263512" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">
<div class="fr h0" title="+2 more"><img class="notifyCountImg" src="https://img.zohostatic.com/projects/d66/images/spacer.gif" border="0" />
<div class="gnotifycountTxt">2</div>
</div>
</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">pavana kn posted comment for Bug in Car parking System</div>
<div class="h20 subtxt3 fs13px">
<div class="fl subtxt2">Participants</div>
</div>
<div class="fl w30px"><img class="bdrcircle24" title="2" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="28" height="28" /></div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Sunday,12&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;11:12&nbsp;AM">February&nbsp;12</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="C6HGxxzxkoYxvGnr2Rvxr4OavVF9L%2BM9t4MMTREwhjQm3Gv%2FQ6ZPgQ%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Shakunthala Gowda assigned Bug to Abhishek Hotte in Car parking System</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Wednesday,8&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;02:22&nbsp;PM">February&nbsp;8</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="wLE%2F9JtOV0p6EOLjXR0Pm4OavVF9L%2BM9t4MMTREwhjQm3Gv%2FQ6ZPgQ%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Shakunthala Gowda posted comment for Bug in Car parking System</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Wednesday,8&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;02:06&nbsp;PM">February&nbsp;8</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="gva%2F5MlTZgx6EOLjXR0Pm4OavVF9L%2BM9t4MMTREwhjQm3Gv%2FQ6ZPgQ%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Shakunthala Gowda posted comment for Bug in Car parking System</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Wednesday,8&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;02:05&nbsp;PM">February&nbsp;8</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="QKJjuwkhDHamVRgUzt6Y6oOavVF9L%2BM9t4MMTREwhjQm3Gv%2FQ6ZPgQ%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Shakunthala Gowda assigned Bug to Abhishek Hotte in Car parking System</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Wednesday,8&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;01:54&nbsp;PM">February&nbsp;8</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="bQpq88GzmeXqL3t9vuxbWoOavVF9L%2BM9t4MMTREwhjQm3Gv%2FQ6ZPgQ%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Shakunthala Gowda assigned Bug to Abhishek Hotte in Car parking System</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Wednesday,8&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;01:05&nbsp;PM">February&nbsp;8</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="8HBl1ruE3n%2BMqUkfi6KLqIOavVF9L%2BM9t4MMTREwhjQm3Gv%2FQ6ZPgQ%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Shakunthala Gowda assigned Bug to Abhishek Hotte in Car parking System</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Wednesday,8&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;12:58&nbsp;PM">February&nbsp;8</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="mDeWYmITHN8TRBHen8AxG4OavVF9L%2BM9t4MMTREwhjQm3Gv%2FQ6ZPgQ%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Shakunthala Gowda assigned Bug to Abhishek Hotte in Car parking System</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Wednesday,8&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;12:14&nbsp;PM">February&nbsp;8</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="WdCS%2FM0v63eCE6pxydRKD4OavVF9L%2BM9t4MMTREwhjQm3Gv%2FQ6ZPgQ%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Shakunthala Gowda assigned Bug to Abhishek Hotte in Car parking System</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Wednesday,8&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;12:10&nbsp;PM">February&nbsp;8</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="jN7iWvOYtdwqKhNaX5A3MoOavVF9L%2BM9t4MMTREwhjQm3Gv%2FQ6ZPgQ%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Shakunthala Gowda assigned Bug to Abhishek Hotte in Car parking System</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Wednesday,8&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;11:56&nbsp;AM">February&nbsp;8</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="L31lv%2FvaLPN8FNEh1C7j8oOavVF9L%2BM9t4MMTREwhjQm3Gv%2FQ6ZPgQ%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Shakunthala Gowda assigned Bug to Abhishek Hotte in Car parking System</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Wednesday,8&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;11:47&nbsp;AM">February&nbsp;8</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
<div id="t%2B0kVI9wPR7z3OtimTUH8zq%2F7kiayE5BymYQdI5R99l16yvS6LFArg%3D%3D" class="f_noti_read bdrbtmnoti table">
<div class="lh20 fl pt20 tac pr5 w13per"><img class="bdrcircle32" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=64955877" width="60" height="60" /></div>
<div class="pt15 pb10 fl w85per ">
<div class=" statusmsg12 ">&nbsp;</div>
<div class="fs14px lh20 spaceNormal pb5 pr10">Manisha Mohanty updated Page in HomeJab</div>
<div class="clrboth pB5 pt5 postedDate fs12px"><span title="Monday,6&nbsp;Feb&nbsp;2017&nbsp;at&nbsp;07:34&nbsp;PM">February&nbsp;6</span>, <span class="pr5" title="https://projects.zoho.com/portal/flatworldsolutions">flatworldsolutions</span></div>
</div>
</div>
</div>
<div id="ntfnmore" class="tar p5 subtxt2 pointer">More...</div>
</div>
</div>
</div>
</div>
<div id="topbar_globaltimer" class="ntfnPos topbar_actions">&nbsp;</div>
<div id="topbar_search" class="ntfnPos topbar_actions">
<div>
<div id="zpsearchbox"><form id="sformnew" class="formParam" method="post" name="sform1">
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td colspan="2" align="left" valign="top">
<div id="searchmaindiv" class="tal bgwhite">
<div id="searchbg" class="fl searchinput h55 bgwhite w100per bdrbtm">
<ul class="p0 fl h28 inline mt4 w270">
<li class="p0 fl"></li>
<li class="p0 fl w190"><input id="st" class="smadd col000 fs14px lh48" autocomplete="off" name="st" type="text" value="" placeholder="Search Project Name, Tasks..." /></li>
<li class="p0 fl"></li>
</ul>
</div>
<div id="tablist" class="inline">
<div class="bgwhite tal clrboth w420">
<div class="clrboth lh20 pR15 w96per fl">
<div class="pt2 qulbl2 ffproxibld pb5 h20 bdrbtm mT10 ml15 mR15  fl w97per fs15px">Advanced Search</div>
<div id="matchlist" class="w390 fl pB10 clrboth pl15 pr15">
<div class="qulbl2 lh23 fl w29per  oflowh txtOverflow bdrbtmdashed pt8 pR15 pb5"><a id="allach" class="col000" title="All matches" name="serscopear" data-match="all"></a>All matches</div>
<div class="qulbl2 lh23 fl w29per  oflowh txtOverflow bdrbtmdashed pt8 pR15 pb5"><a id="statusach" class="col000" title="Status" name="serscopear" data-match="status"></a>Status</div>
<div class="qulbl2 lh23 fl w29per  oflowh txtOverflow bdrbtmdashed pt8 pR15 pb5"><a id="issueach" class="col000" title="Bugs" name="serscopear" data-match="issue"></a>Bugs</div>
<div class="qulbl2 lh23 fl w29per  oflowh txtOverflow bdrbtmdashed pt8 pR15 pb5"><a id="fileach" class="col000" title="Documents" name="serscopear" data-match="docs"></a>Documents</div>
<div class="qulbl2 lh23 fl w29per oflowh txtOverflow bdrbtmdashed pt8 pb5 pR15"><a id="mesgach" class="col000" title="Forums" name="serscopear" data-match="messages"></a>Forums</div>
<div class="qulbl2 lh23 fl w33per  oflowh txtOverflow bdrbtmdashed pt8 pb5"><a id="comach" class="col000" title="Forum Comments" name="serscopear" data-match="comments"></a>Forum Comments</div>
<div class="qulbl2 lh23 fl w29per  oflowh txtOverflow bdrbtmdashed pt8 pR15 pb5"><a id="meetach" class="col000" title="Events" name="serscopear" data-match="meeting"></a>Events</div>
<div class="qulbl2 lh23 fl w29per  oflowh txtOverflow bdrbtmdashed pt8 pR15 pb5"><a id="mileach" class="col000" title="Milestones" name="serscopear" data-match="milestones"></a>Milestones</div>
<div class="qulbl2 lh23 fl w29per  oflowh txtOverflow bdrbtmdashed pt8 pR15 pb5"><a id="todoach" class="col000" title="Tasks" name="serscopear" data-match="todos"></a>Tasks</div>
<div class="qulbl2 lh23 fl w29per oflowh txtOverflow bdrbtmdashed pt8 pR15 pb5"><a id="wikiach" class="col000" name="serscopear" data-match="wiki"></a>Pages</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</form></div>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td id="mainPageTd" class="contentBg" valign="top">
<div id="projectpagediv">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td id="homeheader" class="mw110 w140 h100vh posrel Z3" align="left" valign="top">
<div id="tabMenuDiv">&nbsp;</div>
<div id="tabheaders" class="tabPosition lhsBg">
<div id="tabmenu_377924000000803009">
<div id="zptabsdiv" class="mnthNoiseLft2">
<div title="Dashboard" data-hint="Dashboard">
<div id="dashboardtab_377924000000803009" class="mnthSelLeft2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Dashboard</span></div>
</div>
<div title="Feed" data-hint="Feed">
<div id="dboardtab_377924000000803009" class="mnthSpace2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Feed</span></div>
</div>
<div title="Tasks" data-hint="Tasks">
<div id="tomitab_377924000000803009" class="mnthSpace2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Tasks</span></div>
</div>
<div title="Bugs" data-hint="Bugs">
<div id="issuetab_377924000000803009" class="mnthSpace2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Bugs</span></div>
</div>
<div title="Milestones" data-hint="Milestones">
<div id="mitab_377924000000803009" class="mnthSpace2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Milestones</span></div>
</div>
<div title="Calendar" data-hint="Calendar">
<div id="caltab_377924000000803009" class="mnthSpace2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Calendar</span></div>
</div>
<div title="Documents" data-hint="Documents">
<div id="doctab_377924000000803009" class="mnthSpace2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Documents</span></div>
</div>
<div title="Timesheet" data-hint="Timesheet">
<div id="tsheettab_377924000000803009" class="mnthSpace2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Timesheet</span></div>
</div>
<div title="Forums" data-hint="Forums">
<div id="forumtab_377924000000803009" class="mnthSpace2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Forums</span></div>
</div>
<div title="Pages" data-hint="Pages">
<div id="wikitab_377924000000803009" class="mnthSpace2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Pages</span></div>
</div>
<div title="Chat" data-hint="Chat">
<div id="chattab_377924000000803009" class="mnthSpace2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Chat</span></div>
</div>
<div title="Users" data-hint="Users">
<div id="userstab_377924000000803009" class="mnthSpace2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Users</span></div>
</div>
<div title="Reports &amp; Charts" data-hint="Reports &amp; Charts">
<div id="reportstab_377924000000803009" class="mnthSpace2"><span class="fl pl16 mt1 txtOverflow fl oflowh ">Reports &amp; Charts</span></div>
</div>
</div>
<div id="expandicon" class="inline minmaxicon">&nbsp;</div>
</div>
</div>
</td>
<td class="bgwhite" valign="top">
<div id="projectcontent">
<div id="dasheditprojdiv" class="w700 rightPanelwithoutpadding">&nbsp;</div>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w100per pB40 h100per report_mainpage_ptn" valign="top">
<table border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td class="vat">
<div id="dashbcontainer" class="fl w100per dashbcontainer">
<div class="pl10 pr10">
<div class="fs20px pt30 pB20 fl w100per">
<div class="c100 perc96 blue complbdr fl mR15 ml10"><span class="ffproxibld">96%</span>
<div class="slice">&nbsp;</div>
</div>
<div class="mR50 w40per inlineBlock"><span class="col000 spaceNowrap oflowh txtOverflow fl block w500">MCE Payroll Automation Project</span>
<div class="qulbl2 pt8 col333 fl clrboth spaceNowrap oflowh txtOverflow"><span class="col888 pr5">Owner: </span>Geo V</div>
<div class="pt8 fs14px fl pl10">
<div id="overview_show"><a class="pointer maillink">Show Project Overview</a></div>
</div>
</div>
<div class="inlineBlock fs14px fr pt3">
<div class="inlineBlock pr35">
<div class="col777 pb10">Start Date</div>
<div class="">2016-05-18</div>
</div>
<div class="inlineBlock fs14px tac fr mt10 ml30">&nbsp;</div>
</div>
</div>
<div id="dash_projdetail_377924000000803009" class="w100per tac clrboth fl ui-sortable">
<div id="dashweeklydigest_377924000000803009" class="dash_box w45per fl tal">
<div class="dash_innerbox">
<div class="fl pl10 pr8 pt25 move handle pb15 h16 zoho-reorder txt10 col666 tourdashboard-2">&nbsp;</div>
<div class="p20 h40 move handle dwidget_header tourdashboard-3">
<div class="fl">
<div class="fs18px ffproxibld fsmooth col000 fl">Weekly Digest</div>
<div class="fl pl8 pt3 pr5">-</div>
<div class="fl posrel">
<div id="dashcurweek_377924000000803009" class="col0f5491 popup_box_menu_6 T8 posrel" data-viewtype="priority"><span class="fl fs16px">Week 42</span>
<div class="fl darrowblue ml10 mt7">&nbsp;</div>
</div>
</div>
<div class="fs14px col777 clrboth pt5 oflowh txtOverflow spaceNowrap">Select a week to view its overall work status</div>
</div>
</div>
<div id="dashwidgetholder_377924000000803009">
<div class="dashwidgetpopcont">
<div>
<div id="graph_weeklydigest_377924000000803009">
<div class="d3container">
<div class="canvas-property">&nbsp;</div>
<div class="plotarea-property">&nbsp;</div>
<div class="overview">&nbsp;</div>
<div class="canvas-component">TasksTasklistsMilestonesBugs051015
<div class="legendarea">
<div class="legendgroup">
<ul class="legseries">
<li class="series">
<div class="legendfilterbox">&nbsp;</div>
<span class="legendlabel">Created</span></li>
<li class="series">
<div class="legendfilterbox">&nbsp;</div>
<span class="legendlabel">Completed</span></li>
<li class="series">
<div class="legendfilterbox">&nbsp;</div>
<span class="legendlabel">Still Open</span></li>
</ul>
</div>
</div>
<div class="zcnotes">&nbsp;</div>
</div>
<div class="plotareaBorder-property">&nbsp;</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="dashbugprog_377924000000803009" class="dash_box col000 w22per fl tal">
<div class="dash_innerbox">
<div class="fl pl10 pr8 pt25 move handle pb15 h16 zoho-reorder txt10 col666 tourdashboard-2">&nbsp;</div>
<div class="p20 h40 move handle dwidget_header tourdashboard-3">
<div class="fl bugoflowh w80per">
<div class="fs18px ffproxibld fsmooth col000" title="Bug Status">Bug Status</div>
<div class="fs14px col777 clrboth pt5 oflowh txtOverflow spaceNowrap" title="Track the closure of the Bugs">Track the closure of the Bugs</div>
</div>
</div>
<div id="dashwidgetholder_377924000000803009">
<div>&nbsp;</div>
<div class="dashwidgetpopcont_top">
<div class="bgwhite pb15 pt20 tac posrel">
<div class="w30per pt5 inlineBlock">
<div class="qulbl lh18 oflowh txtOverflow spaceNowrap">Open</div>
<div class="fs18px pt8 col000" title="Open Tasks">5</div>
</div>
<div class="w30per pt5 inlineBlock">
<div class="qulbl lh18 oflowh txtOverflow spaceNowrap">Closed</div>
<div class="fs18px pt8 col000" title="Closed Tasks">229</div>
</div>
<div class="w30per pt5 inlineBlock">
<div class="qulbl lh18 oflowh txtOverflow spaceNowrap">Total</div>
<div class="fs18px pt8 ffproxibld col000" title="Closed Tasks">234</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="dashmileprog_377924000000803009" class="dash_box col000 w22per fl tal">
<div class="dash_innerbox">
<div class="fl pl10 pr8 pt25 move handle pb15 h16 zoho-reorder txt10 col666 tourdashboard-2">&nbsp;</div>
<div class="p20 h40 move handle dwidget_header tourdashboard-3">
<div class="bugoflowh w80per fl">
<div class="fs18px ffproxibld fsmooth col000" title="Milestone Status">Milestone Status</div>
<div class="fs14px col777 clrboth pt5 oflowh txtOverflow spaceNowrap" title="Know how far the team has travelled">Know how far the team has travelled</div>
</div>
</div>
<div id="dashwidgetholder_377924000000803009">
<div>&nbsp;</div>
<div class="dashwidgetpopcont_top">
<div class="bgwhite pt20 tac posrel">
<div class="w30per pt5 inlineBlock">
<div class="qulbl lh18 oflowh txtOverflow spaceNowrap">Open</div>
<div class="fs18px pt8 col000" title="Open Tasks">1</div>
</div>
<div class="w30per pt5 inlineBlock">
<div class="qulbl lh18 oflowh txtOverflow spaceNowrap">Closed</div>
<div class="fs18px pt8 col000" title="Closed Tasks">4</div>
</div>
<div class="w30per pt5 inlineBlock">
<div class="qulbl lh18 oflowh txtOverflow spaceNowrap">Total</div>
<div class="fs18px pt8 ffproxibld col000" title="Closed Tasks">5</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="dashtaskvscompletion_377924000000803009" class="dash_box w45per fl tal">
<div class="dash_innerbox">
<div class="fl pl10 pr8 pt25 move handle pb15 h16 zoho-reorder txt10 col666 tourdashboard-2">&nbsp;</div>
<div class="p20 h40 move handle dwidget_header tourdashboard-3">
<div class="fl bugoflowh w80per">
<div class="fs18px ffproxibld fsmooth col000">Task Progress Chart</div>
<div class="fs14px col777 clrboth pt5 oflowh txtOverflow spaceNowrap">Get the task count against a completion percentage</div>
</div>
</div>
<div id="dashwidgetholder_377924000000803009">
<div class="dashwidgetpopcont">
<div id="graph_tvscomp_377924000000803009" class="dashchartbox">
<div class="d3container">
<div class="canvas-property">&nbsp;</div>
<div class="plotarea-property">&nbsp;</div>
<div class="overview">&nbsp;</div>
<div class="canvas-component">Completion Percentage0%20%40%60%80%100%Task Count050100150200
<div class="zcnotes">&nbsp;</div>
</div>
<div class="plotareaBorder-property">&nbsp;</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="dashclosedtasks_377924000000803009" class="dash_box col000 w22per fl tal">
<div class="dash_innerbox">
<div class="fl pl10 pr8 pt25 move handle pb15 h16 zoho-reorder txt10 col666 tourdashboard-2">&nbsp;</div>
<div class="p20 h40 move handle dwidget_header">
<div class="bugoflowh w87per fl">
<div class="fs18px ffproxibld fsmooth col000">Top 5 Taskminators</div>
<div class="fs14px col777 clrboth pt5 oflowh txtOverflow spaceNowrap">Users with maximum closed tasks</div>
</div>
</div>
<div id="dashwidgetholder_377924000000803009">
<div class="dashwidgetpopcont">
<div class="inlineBlock tal vat w100per">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 pR10 tar w20 spaceNowrap"><img class="bdrcircle32" title="Shweta Nayak" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236454" width="32" height="32" /></td>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 fs14px" title="Shweta Nayak"><span class="fl w85per breakWord txtOverflow oflowh mTminus3 mh32">Shweta Nayak</span></td>
<td class="bdrbtmf0f0f0 vam pl15 spaceNowrap w20">
<div class="fs15px p5 bdrRds4">64</div>
</td>
</tr>
<tr>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 pR10 tar w20 spaceNowrap"><img class="bdrcircle32" title="Shakunthala Gowda" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="32" height="32" /></td>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 fs14px" title="Shakunthala Gowda"><span class="fl w85per breakWord txtOverflow oflowh mTminus3 mh32">Shakunthala Gowda</span></td>
<td class="bdrbtmf0f0f0 vam pl15 spaceNowrap w20">
<div class="fs15px p5 bdrRds4">59</div>
</td>
</tr>
<tr>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 pR10 tar w20 spaceNowrap"><img class="bdrcircle32" title="Rakshitha Gangadhar" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=629355365" width="32" height="32" /></td>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 fs14px" title="Rakshitha Gangadhar"><span class="fl w85per breakWord txtOverflow oflowh mTminus3 mh32">Rakshitha Gangadhar</span></td>
<td class="bdrbtmf0f0f0 vam pl15 spaceNowrap w20">
<div class="fs15px p5 bdrRds4">37</div>
</td>
</tr>
<tr>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 pR10 tar w20 spaceNowrap"><img class="bdrcircle32" title="Not Assigned" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=0" width="32" height="32" /></td>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 fs14px" title="Not Assigned"><span class="fl w85per breakWord txtOverflow oflowh mTminus3 mh32">Not Assigned</span></td>
<td class="bdrbtmf0f0f0 vam pl15 spaceNowrap w20">
<div class="fs15px p5 bdrRds4">35</div>
</td>
</tr>
<tr>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 pR10 tar w20 spaceNowrap"><img class="bdrcircle32" title="Geo V" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=4910722" width="32" height="32" /></td>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 fs14px" title="Geo V"><span class="fl w85per breakWord txtOverflow oflowh mTminus3 mh32">Geo V</span></td>
<td class="bdrbtmf0f0f0 vam pl15 spaceNowrap w20">
<div class="fs15px p5 bdrRds4">32</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div id="dashclosedbugs_377924000000803009" class="dash_box col000 w22per fl tal">
<div class="dash_innerbox">
<div class="fl pl10 pr8 pt25 move handle pb15 h16 zoho-reorder txt10 col666 tourdashboard-2">&nbsp;</div>
<div class="p20 h40 move handle dwidget_header">
<div class="bugoflowh w87per fl">
<div class="fs18px ffproxibld fsmooth col000">Top 5 Bugminators</div>
<div class="fs14px col777 clrboth pt5 oflowh txtOverflow spaceNowrap">Users with maximum closed Bugs</div>
</div>
</div>
<div id="dashwidgetholder_377924000000803009">
<div class="dashwidgetpopcont">
<div class="inlineBlock tal vat w100per">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 pR10 tar w20 spaceNowrap"><img class="bdrcircle32" title="Shakunthala Gowda" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236306" width="32" height="32" /></td>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 fs14px" title="Shakunthala Gowda"><span class="fl w85per breakWord txtOverflow oflowh mTminus3 mh32">Shakunthala Gowda</span></td>
<td class="bdrbtmf0f0f0 vam pl15 spaceNowrap w20">
<div class="fs15px p5 bdrRds4">214</div>
</td>
</tr>
<tr>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 pR10 tar w20 spaceNowrap"><img class="bdrcircle32" title="Shweta Nayak" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63236454" width="32" height="32" /></td>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 fs14px" title="Shweta Nayak"><span class="fl w85per breakWord txtOverflow oflowh mTminus3 mh32">Shweta Nayak</span></td>
<td class="bdrbtmf0f0f0 vam pl15 spaceNowrap w20">
<div class="fs15px p5 bdrRds4">13</div>
</td>
</tr>
<tr>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 pR10 tar w20 spaceNowrap"><img class="bdrcircle32" title="naveen.sr" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=62513382" width="32" height="32" /></td>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 fs14px" title="naveen.sr"><span class="fl w85per breakWord txtOverflow oflowh mTminus3 mh32">naveen.sr</span></td>
<td class="bdrbtmf0f0f0 vam pl15 spaceNowrap w20">
<div class="fs15px p5 bdrRds4">1</div>
</td>
</tr>
<tr>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 pR10 tar w20 spaceNowrap"><img class="bdrcircle32" title="Rakshitha Gangadhar" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=629355365" width="32" height="32" /></td>
<td class="bdrbtmf0f0f0 pt8 pb8 vam pl10 fs14px" title="Rakshitha Gangadhar"><span class="fl w85per breakWord txtOverflow oflowh mTminus3 mh32">Rakshitha Gangadhar</span></td>
<td class="bdrbtmf0f0f0 vam pl15 spaceNowrap w20">
<div class="fs15px p5 bdrRds4">1</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div id="dashuserwork_377924000000803009" class="dash_box fl tal">
<div class="dash_innerbox">
<div class="fl pl10 pr8 pt25 move handle pb15 h16 zoho-reorder txt10 col666 tourdashboard-2">&nbsp;</div>
<div class="p20 h40 move handle dwidget_header">
<div class="bugoflowh w80per fl">
<div class="fs18px ffproxibld fsmooth col000">Team Status</div>
<div class="fs14px col777 clrboth pt5 oflowh txtOverflow spaceNowrap">View your team's overall work status here</div>
</div>
</div>
<div id="dashwidgetholder_377924000000803009">
<div class="dashwidgetpopcont">
<table class="tac col000 pb5 lh25" border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="bdrbtmf0f0f0 pl15 tal ffproxibld" width="30%" height="30">Users</td>
<td class="bdrbtmf0f0f0 ffproxibld" colspan="3" align="center" width="20%">Tasks</td>
<td class="bdrbtmf0f0f0 ffproxibld" colspan="3" align="center" width="25%">Bugs</td>
</tr>
</tbody>
</table>
<div id="dashlistusers_377924000000803009">
<table class="tac col000 lh25" border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="w30per" height="30">&nbsp;</td>
<td class="fs13px col777 pr10">
<div class="oflowh txtOverflow spaceNowrap pt3 fs14px">Overdue</div>
</td>
<td class="fs12px col777 pr10">
<div class="oflowh txtOverflow spaceNowrap pt3 fs14px">Today's</div>
</td>
<td class="fs12px col777 pr10">
<div class="oflowh txtOverflow spaceNowrap pt3 fs14px">All Open</div>
</td>
<td class="fs12px col777 pr10">
<div class="oflowh txtOverflow spaceNowrap pt3 fs14px">Overdue</div>
</td>
<td class="fs12px col777 pr10">
<div class="oflowh txtOverflow spaceNowrap pt3 fs14px">Today's</div>
</td>
<td class="fs12px col777 pr10">
<div class="oflowh txtOverflow spaceNowrap pt3 fs14px">All Open</div>
</td>
</tr>
<tr class="bgwhite">
<td class="bdrbtmf0f0f0 pt10 pb10 tal w30per">
<div class="fl h30 w35px pl10"><img class="bdrcircle32 p2" title="Abhishek Hotte" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=59074111" /></div>
<div class="fl pl10 oflowh txtOverflow spaceNowrap pt3 fs14px" title="Abhishek Hotte">Abhishek Hotte</div>
</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
</tr>
<tr class="bgwhite">
<td class="bdrbtmf0f0f0 pt10 pb10 tal w30per">
<div class="fl h30 w35px pl10"><img class="bdrcircle32 p2" title="Baijumon P" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=615359403" /></div>
<div class="fl pl10 oflowh txtOverflow spaceNowrap pt3 fs14px" title="Baijumon P">Baijumon P</div>
</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
</tr>
<tr class="bgwhite">
<td class="bdrbtmf0f0f0 pt10 pb10 tal w30per">
<div class="fl h30 w35px pl10"><img class="bdrcircle32 p2" title="David Antony" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=52391938" /></div>
<div class="fl pl10 oflowh txtOverflow spaceNowrap pt3 fs14px" title="David Antony">David Antony</div>
</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
</tr>
<tr class="bgwhite">
<td class="bdrbtmf0f0f0 pt10 pb10 tal w30per">
<div class="fl h30 w35px pl10"><img class="bdrcircle32 p2" title="Geo V" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=4910722" /></div>
<div class="fl pl10 oflowh txtOverflow spaceNowrap pt3 fs14px" title="Geo V">Geo V</div>
</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
</tr>
<tr class="bgwhite">
<td class="bdrbtmf0f0f0 pt10 pb10 tal w30per">
<div class="fl h30 w35px pl10"><img class="bdrcircle32 p2" title="IT BLR" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=634906198" /></div>
<div class="fl pl10 oflowh txtOverflow spaceNowrap pt3 fs14px" title="IT BLR">IT BLR</div>
</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
</tr>
<tr class="bgwhite">
<td class="bdrbtmf0f0f0 pt10 pb10 tal w30per">
<div class="fl h30 w35px pl10"><img class="bdrcircle32 p2" title="Jasleen Kaur" src="https://contacts.zoho.com/file?fs=thumb&amp;exp=600&amp;ID=63233879" /></div>
<div class="fl pl10 oflowh txtOverflow spaceNowrap pt3 fs14px" title="Jasleen Kaur">Jasleen Kaur</div>
</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
<td class="weekdigcountTxt bdrbtmf0f0f0 w10per">0</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div id="dashupcomingevents_377924000000803009" class="dash_box fl tal">
<div class="dash_innerbox">
<div class="fl pl10 pr8 pt25 move handle pb15 h16 zoho-reorder txt10 col666 tourdashboard-2">&nbsp;</div>
<div class="p20 h40 move handle dwidget_header">
<div class="fl">
<div class="fs18px ffproxibld fsmooth col000">Upcoming Events</div>
<div class="fs14px col777 clrboth pt5 oflowh txtOverflow spaceNowrap">For current week only</div>
</div>
</div>
<div id="dashwidgetholder_377924000000803009">
<div>
<div>
<div>
<div class="emptydashboardbox zoho-my-calendar fonticon40">&nbsp;</div>
<table border="0" width="90%" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td align="center" height="110px">
<div><span class="col777 pt12 lh25">No upcoming event(s) for now.</span></div>
</td>
</tr>
<tr>
<td height="32px">&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="mresize"><iframe width="300" height="150"></iframe><iframe width="300" height="150"></iframe></div>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</div>
<div id="zptopbanDiv" class="oflowh posfixed w100per tac fs15px pointer">Zoho Projects 5X is here! This user experience upgrade comes with new and spruced up features.<a class="pointer maillink pl5" href="https://www.zoho.com/blog/projects/launching-zoho-projects-5x-the-user-experience-upgrade.html" target="_blank">Learn More</a></div>
<div class="zls-sptwndw siqembed siqtrans  zlsps-rht  zls-icosw-1">
<div id="zlscht" class="zls-prelative"><iframe id="zlsiframe" src="https://salesiq.zohopublic.com/zohocares/chatwindow.ls?type=float&amp;src=script&amp;referrer=&amp;pagetitle=Flatworld%20Solutions%20-%20Feed&amp;embedname=zohoprojects&amp;cpage=aHR0cHM6Ly9wcm9qZWN0cy56b2hvLmNvbS9wb3J0YWwvZmxhdHdvcmxkc29sdXRpb25z&amp;email=abhishek.h%40flatworldsolutions.com&amp;autochat=false&amp;name=Abhi&amp;lang=en&amp;loadedtime=1488445873621" width="100%" height="460" frameborder="0" scrolling="no" seamless=""></iframe></div>
</div>
<div id="wmstoolbar" class="wms-mainui">
<div id="wms-pasteCapture" class="wms-pastediv" contenteditable="true">&nbsp;</div>
<div id="wms-menucontainer" class="wms-menucontainer">&nbsp;</div>
<div id="wmsnotificationholder" class="wms-nh">&nbsp;</div>
<div id="wmsstatusbar" class="wmsstatusbar">
<div class="supdiv" title="Need Help?">Need Help</div>
<div id="printpage" class="fr ml12 mr12 pointer posrel mt5">&nbsp;</div>
<div id="playIconAnimate" class="fl w45px pl12 h35 mt-1">
<div>
<div id="video-help" class="video_help"><span id="tool_helpclose" class="pointer posrel fs16px fr">x</span>You can watch the Transition Video here.</div>
<div id="feedbackvideoanim" class="ball">&nbsp;</div>
<div id="fbshadow1" class="shadow1">&nbsp;</div>
</div>
</div>
<div id="chatBtnId" title="Live Chat">
<div id="chatBgId" class="fl w100per"><img id="liveChatId" class="fl w30px pt5 pl5 pr5 pb3" src="https://projects.zoho.com/images/chat_on.svg" />
<div id="chatTextId" class="pt7 fl colfff">Live Chat</div>
</div>
</div>
</div>
<div id="wms-chatwindowcontainer" class="wms-chatwindowcontainer"><span id="wmsbarmovablehint" class="wms_bar_movablehint">Here is your Smart Chat ( Ctrl + Space )</span></div>
</div>
<div id="ze_popups"><iframe id="ze_img_request" src="https://projects.zoho.com/ze/blank?t=1488446083123" name="ze_img_request" width="300" height="150"></iframe></div>
