<div class="container">
<div class="row"><header class="page-title-header">
<h1 class="page-title col-xl-20 col-md-18 ng-binding ng-scope">FIX: &rdquo;The length of the string exceeds the value set on the maxJsonLength property&rdquo; error message when you access an ASP.NET 3.5 web form</h1>
<div class="ng-isolate-scope" data-title="FIX: &rdquo;The length of the string exceeds the value set on the maxJsonLength property&rdquo; error message when you access an ASP.NET 3.5 web form">
<div class="content-media row">
<ul class="list-unstyled col-md-6 col-xl-4 media-widget">
<li><a id="media-email" class="ng-binding" translate="no" href="mailto:?subject=I%20think%20you%27d%20be%20interested%20in%20this%20article:%20FIX:%20%E2%80%9DThe%20length%20of%20the%20string%20exceeds%20the%20value%20set%20on%20the%20maxJsonLength%20property%E2%80%9D%20error%20message%20when%20you%20access%20an%20ASP.NET%203.5%20web%20form&amp;body=FIX:%20%E2%80%9DThe%20length%20of%20the%20string%20exceeds%20the%20value%20set%20on%20the%20maxJsonLength%20property%E2%80%9D%20error%20message%20when%20you%20access%20an%20ASP.NET%203.5%20web%20form%20-%20https://support.microsoft.com/en-in/help/981884/fix-the-length-of-the-string-exceeds-the-value-set-on-the-maxjsonlength-property-error-message-when-you-access-an-asp.net-3.5-web-form"><span class="win-icon"></span>Email</a></li>
<li><a id="media-print" class="ng-binding" translate="no"></a><span class="win-icon"></span>Print</li>
</ul>
</div>
</div>
</header></div>
</div>
<div class="ng-isolate-scope">&nbsp;</div>
<div class="ng-scope">
<div class="ng-scope ng-isolate-scope">
<div class="ng-scope">
<div class="ng-isolate-scope">
<section id="" class="section ng-scope"><header class="section-header ng-scope">
<h3 class="section-title ng-binding">Symptoms</h3>
</header>
<div class="container section-body ng-scope" style="box-sizing: border-box; outline: none; margin-right: auto; margin-left: auto; max-width: 1600px; width: 761.391px;">
<div class="row">
<div class="ng-scope col-xs-24">
<div class="ng-isolate-scope">
<div class="kb-symptoms-section section ng-scope">Consider the following scenario:<br /><br />
<ul class="sbody-free_list">
<li>You have an ASP.NET web application that uses the Microsoft .NET Framework 3.5.</li>
<li>Your application has a page that uses the<span class="text-base"> UpdatePanel </span>control.</li>
<li>You access the ASP.NET web form, and the <span class="text-base">UpdatePanel</span> control tries to post back data that is more than 2.5 megabytes (MB).</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
