﻿
.pricing-table {
    display: flex;
    padding: 0px 0 0;
    width: 100%;
}

    .pricing-table .pricing-item {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        -moz-box-flex: 1;
        background: #ffffff none repeat scroll 0 0;
        border-color: #dfe4ed #dfe4ed #dfe4ed currentcolor;
        border-image: none;
        border-style: solid solid solid none;
        border-width: 1px 1px 1px medium;
        flex: 1 1 0;
        padding: 20px;
        text-align: center;
    }

        .pricing-table .pricing-item:first-child {
            border-left: 1px solid #dfe4ed;
            border-radius: 6px 0 0 6px;
        }

        .pricing-table .pricing-item:last-child {
            border-radius: 0 6px 6px 0;
        }

        .pricing-table .pricing-item ul {
            list-style: outside none none;
            margin: 0;
            padding: 0;
        }

        .pricing-table .pricing-item .pricing-header {
            padding: 30px 0;
        }

            .pricing-table .pricing-item .pricing-header .pricing-title {
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 2px;
                margin-top: 30px;
                text-transform: uppercase;
            }

            .pricing-table .pricing-item .pricing-header .pricing-price {
                font-size: 48px;
            }

                .pricing-table .pricing-item .pricing-header .pricing-price .pricing-currency {
                    display: inline-block;
                    font-size: 20px;
                    margin-right: -10px;
                    margin-top: 10px;
                    vertical-align: top;
                }

                .pricing-table .pricing-item .pricing-header .pricing-price .pricing-amount {
                    font-size: 56px;
                    font-weight: 600;
                }

                .pricing-table .pricing-item .pricing-header .pricing-price .pricing-period {
                    font-size: 16px;
                }

        .pricing-table .pricing-item .pricing-features li {
            margin-bottom: 10px;    font-size: 18px;
        }

        .pricing-table .pricing-item .pricing-footer {
            padding: 30px 0 20px;
        }

        .pricing-table .pricing-item.pricing-item-featured {
            border-left: 1px solid #dfe4ed;
            border-radius: 6px;
            margin: -40px 0 -40px -1px;
            padding: 60px 20px;
        }

        .pricing-table .pricing-item.pricing-item-default {
            background: #acb7bf none repeat scroll 0 0;
            border-color: #acb7bf;
            color: #ffffff;
        }

        .pricing-table .pricing-item.pricing-item-primary {
            background: #c52127 none repeat scroll 0 0;
            border-color: #c52127;
            color: #ffffff;
        }

        .pricing-table .pricing-item.pricing-item-secondary {
            background: #6a7a84 none repeat scroll 0 0;
            border-color: #6a7a84;
            color: #ffffff;
        }

        .pricing-table .pricing-item.pricing-item-success {
            background: #46be8a none repeat scroll 0 0;
            border-color: #46be8a;
            color: #ffffff;
        }

        .pricing-table .pricing-item.pricing-item-warning {
            background: #f39834 none repeat scroll 0 0;
            border-color: #f39834;
            color: #ffffff;
        }

        .pricing-table .pricing-item.pricing-item-danger {
            background: #fb434a none repeat scroll 0 0;
            border-color: #fb434a;
            color: #ffffff;
        }

        .pricing-table .pricing-item.pricing-item-info {
            background: #0190da none repeat scroll 0 0;
            border-color: #0190da;
            color: #ffffff;
        }

@media (max-width: 1199px) {
    .pricing-table {
        display: block;
        padding: 0;
    }

        .pricing-table .pricing-item {
            border: 1px solid #dfe4ed;
            border-radius: 6px;
            margin-bottom: 20px;
        }

            .pricing-table .pricing-item.pricing-item-featured {
                margin-top: 0;
            }
}

.pricing-table .pricing-item .pricing-title {
    padding: 8px;
    margin: 0px -21px;
}

.pricing-table .pricing-item:nth-child(n+1) .pricing-title {
    background: #999999 none repeat scroll 0 0;
    border-color: #999999;
    color: #ffffff;
}

.pricing-table .pricing-item:nth-child(2n+2) .pricing-title {
    background: #C0C0C0 none repeat scroll 0 0;
    border-color: #C0C0C0;
    color: #ffffff;
}

.pricing-table .pricing-item:nth-child(2n+3) .pricing-title {
    background: gold none repeat scroll 0 0;
    border-color: gold;
    color: #ffffff;
}
