﻿<script type="text/javascript">
    var newsImages = [];
    $(document).ready(function () {
        console.log(isRoleAdmin)
        if (isRoleAdmin) {
            tinymce.EditorManager.editors = [];
            tinymce.init({
                max_chars: 2000,
                selector: '#txtAnnouncementEditor',
                paste_data_images: true,
                height: "500",
                plugins: [
               "advlist autolink lists link image charmap print preview hr anchor pagebreak",
               "searchreplace wordcount visualblocks visualchars code fullscreen",
               "insertdatetime media nonbreaking save table contextmenu directionality",
               "emoticons template paste textcolor colorpicker textpattern"
             ],
             toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | customimage ",
             toolbar2: "print preview media | forecolor backcolor emoticons",
                setup: function (editor) {
                    function toTimeHtml(date) {
                        return ' <input type="file" onchange="upload(this);" />';
                    }

                    function showPopup() {
                        $("#myModal").modal("show");
                        $("#btnUpload").click(function(){
                            var formData = new FormData();
                            var totalFiles = document.getElementById("fileUpload").files.length;
                            for (var i = 0; i < totalFiles; i++) {
                                var file = document.getElementById("fileUpload").files[i];
                                formData.append("fileUpload", file);
                            }
                            $.ajax({
                                type: "POST",
                                url: getBaseUrl() + '/Announcement/UploadAnnouncementsPhoto?nocache=' + new Date().getTime(),
                                data: formData,
                                dataType: 'json',
                                contentType: false,
                                processData: false,
                                success: function (response) {
                                    console.log(operationType)
                                    if (operationType == "Add") {
                                        newsImages.push(response);
                                    }
                                    editor.insertContent("<img src=" + response + " >");
                                    $("#myModal").modal("hide");
                                },
                                error: function (error) {
                                    alert("errror");
                                }
                            });
                        })
                    }
                    editor.addButton('customimage', {
                        icon: 'image',
                        tooltip: "Upload Image",
                        onclick: showPopup
                    });
                }
            }).then(function (editors) {
                if (editorDescription != undefined && editorDescription != "") {
                    tinyMCE.activeEditor.setContent(editorDescription);
                }
            });
        }
        else {
            setTimeout(function () {
                $(".news-description-view").each(function () {
                    $(this).html($(this).text());
                });
            }, 1500);
        }
    })

</script>
<style>
    .md-dialog {
        min-width: 700px !important;
    }

    .modal-backdrop {
        z-index: 0;
    }

    .lean-overlay {
        z-index: 100 !important;
        display: none !important;
    }
</style>

<!--Custom image upload-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload Image</h4>
            </div>
            <div class="modal-body">
                <input type="file" id="fileUpload">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-md btn-primary" id="btnUpload">Upload</button>
                <button type="button" class="btn btn-md" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<input name="image" type="file" id="upload" style="display:none" onchange="">

<!--Add News modal dialog-->
<md-dialog class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
    <form name="announcementForm" novalidate ng-submit="SaveAnnouncement()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{IsAdmin()?(editedAnnouncementId==0?"Add Announcement":"Edit Announcement"):"Announcement Details"}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="Cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label>Announcement Title</label>
                            <input type="text" ng-model="title" required name="title" ng-disabled="!IsAdmin()">
                            <div ng-messages="announcementForm.title.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label>Announcement Category</label>
                            <md-select name="SelectedCategory" ng-model="SelectedCategory"  ng-disabled="!IsAdmin()">
                                <md-option ng-repeat="category in categories" value="{{category.Id}}">
                                    <!--ng-selected="index == SelectedCategoryIndex"-->
                                    {{category.Name}}
                                </md-option>
                            </md-select>
                            <!--<div ng-messages="announcementForm.SelectedCategory.$error">
                                <div ng-message="required">This is required.</div>
                            </div>-->
                            <!--<span class="material-input"></span>-->
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label>Announcement Description</label>
                            <div class="form-group label-floating is-empty">
                                <!--<div class="editor" id="divDescription"></div>-->
                                <div ng-show="IsAdmin()">
                                    <textarea id="txtAnnouncementEditor"></textarea>
                                </div>
                                <div ng-show="!IsAdmin()" class="news-description-view">
                                    {{description}}
                                </div>
                                <span class="material-input"></span>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div class="row" ng-hide="IsAdmin()">
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <div class="form-group label-floating is-empty">
                                <p class="timestamp text-primary">{{editedAnnouncementCreatedOn}} | {{editedAnnouncementCreatedBy}} </p>
                            </div>
                        </md-input-container>
                    </div>
                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="text-right">
            <input type="submit" class="btn btn-md btn-primary" permission="Administrator" value="Submit" ng-disabled="announcementForm.$invalid" />
            <a ng-click="Cancel()" class="btn btn-md">{{IsAdmin()?"Cancel":"Close"}}</a>
            <div class="clearfix"></div>
        </md-dialog-actions>
    </form>
</md-dialog>
