﻿<!--Popup for Add Banner-->
<md-dialog class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
    <form novalidate name="bannerForm" ng-submit="SaveBanner()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Banner</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="Cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label class="control-label">Banner Title</label>
                            <input type="text" name="bannerTitle" ng-model="bannerTitle" class="form-control" required>
                            <div ng-messages="bannerForm.bannerTitle.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                            <span class="material-input"></span>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--<div class="form-group label-floating is-empty form-file">
                            <label class="control-label">Upload Banner</label>
                            <input type="file" id="bannerFile" class="form-control" ngf-select="upload($file)" accept="Image/*" ngf-max-size="5MB">
                            <span class="material-input"></span>
                        </div>-->
                        <md-input-container class="md-block">
                            <div class="form-control" ngf-select ng-model="file" required name="bannerFile" ngf-pattern="'image/*'"
                                 ngf-accept="'image/*'">Upload Banner</div>
                            <img ngf-thumbnail="file || '/Banners/NoBanner.png'">
                            <div ng-messages="bannerForm.bannerFile.$error">
                                <div ng-if="showRequiredError" ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="text-right">
            <input type="submit" class="btn btn-md btn-primary" value="Submit" permission="Administrator" ng-disabled="bannerForm.$invalid" />
            <a ng-click="Cancel()" class="btn btn-md">{{IsAdmin()?"Cancel":"Close"}}</a>
            <div class="clearfix"></div>
        </md-dialog-actions>
    </form>
</md-dialog>
<!--End of popup-->
