﻿<!--Popup for Add Document-->
<md-dialog class="col-lg-4 col-md-6 col-sm-10 col-xs-12">
    <form novalidate name="form" ng-submit="SaveDocument()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 class="title">Add Category</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="Cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label class="control-label">Document Category</label>
                            <input type="text" ng-model="docCategory" ng-blur=CheckForDuplicateCategory() required name="docCategory">
                            <div ng-messages="form.docCategory.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-control" ngf-select ng-model="file" required name="file">Upload Document</div>
                    </div>
                    <div ng-bind="file.name"></div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <input type="submit" class="btn btn-md btn-primary" value="Submit" permission="Administrator" ng-disabled="form.$invalid" />
            <a ng-click="Cancel()" class="btn btn-md">{{IsAdmin()?"Cancel":"Close"}}</a>
            <div class="clearfix"></div>
        </md-dialog-actions>
    </form>
</md-dialog>
<!--End of popup-->

<!--<div ng-cloak>
    <div>
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Add Category</h4>
                <p class="category"></p>
            </div>
            <div class="card-content">
                <form name="form" novalidate ng-submit="SaveDocument()">

                    

                    <a ng-click="Cancel()" class="btn btn-primary pull-right">Cancel</a>
                    <button type="submit" ng-disabled="form.$invalid"  class="btn btn-primary pull-right">Submit</button>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>-->
