﻿<!--Popup for Add Event-->
<md-dialog class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
    <form novalidate name="form" ng-submit="SaveEvent()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 class="title">{{Editable?"Edit Event":"Add Event"}}</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="Cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <div class="col-sm-6">

                        <md-input-container class="md-block">
                            <label>Event</label>
                            <input type="text" ng-model="Name" required name="Name">
                            <div ng-messages="form.Name.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Location</label>
                            <input type="text" ng-model="Location" required name="Location">
                            <div ng-messages="form.Location.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>

                        <div ng-show="Editable">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Event Date</label>
                                <input type="text" ng-model="StartDateFormat" name="StartDateFormat" ng-disabled="Editable">
                            </md-input-container>
                        </div>
                        <div ng-show="!Editable">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Event Date</label>
                                <md-datepicker ng-model="StartDate" name="StartDate" required md-min-date="EventMinDate" ng-disabled="Editable"></md-datepicker>
                                <div ng-messages="form.StartDate.$error" ng-show="form.$submitted || form.StartDate.$touched">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="valid">Invalid date</div>
                                    <div ng-message="mindate">Minimum date should be current date</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea ng-model="Description" required name="Description" rows="3"></textarea>
                            <!--<input type="text" >-->
                            <div ng-messages="form.Description.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="col-sm-6">
                        <md-input-container class="md-block">
                            <div class="form-control" ngf-select ng-model="file" required name="file" ngf-pattern="'image/*'" ngf-max-size="20MB" ngf-accept="'image/*'">Upload Image</div>
                            <img ngf-thumbnail="file || '/img/noimage_2.gif'">
                        </md-input-container>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12">
                    </div>
                    <!--<div class="col-md-12">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input type="text" ng-model="Name" class="form-control" required>
                            <span class="material-input"></span>
                        </div>
                    </div>-->
                </div>
                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Location</label>
                            <input type="text" ng-model="Location" class="form-control" required>
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Description</label>
                            <input type="text" ng-model="Description" class="form-control" required>
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-focused">
                            <label class="control-label">Date</label>
                            <input type="date" ng-model="StartDate" class="form-control" placeholder="DD-MMM-YYYY" required>
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-control" ngf-select ng-model="file" required name="file" ngf-pattern="'image/*'" ngf-max-size="20MB" ngf-resize="{width: 287.33, height: 160}"
                             ngf-accept="'image/*'">Upload Image</div>
                        <img ngf-thumbnail="file || '/img/noimage_2.gif'">

                    </div>
                </div>-->
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <input type="submit" class="btn btn-md btn-primary" value="Submit" permission="Administrator" ng-disabled="form.$invalid" />
            <a ng-click="Cancel()" class="btn btn-md">{{IsAdmin()?"Cancel":"Close"}}</a>
            <div class="clearfix"></div>
        </md-dialog-actions>
    </form>
</md-dialog>
<!--End of popup-->
