﻿<!--Popup for Add Photos-->
<md-dialog class="col-lg-4 col-md-6 col-sm-10 col-xs-12">
    <form novalidate name="form" ng-submit="SavePhotos()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Photos</h2>
                <p class="category">{{albumName}}</p>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="Cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-control" ngf-select ng-model="file" required name="file" ngf-pattern="'image/*'" ngf-multiple="true"
                             ngf-accept="'image/*'"  ng-image-compress resize-max-height="800" resize-max-width="800" resize-quality="0.7" resize-type="image/jpg">Upload Photos</div>
                    </div>
                    <div ng-show=file.length class="col-md-12" style="padding-top:10px;">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>File Type</th>
                                    <th>File Size</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="file in file">
                                    <td>{{file.name}}</td>
                                    <td>{{file.type}}</td>
                                    <td>{{file.size}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <input type="submit" class="btn btn-md btn-primary" value="Submit" permission="Administrator" ng-disabled="form.$invalid" />
            <a ng-click="Cancel()" class="btn btn-md">{{IsAdmin()?"Cancel":"Close"}}</a>
            <div class="clearfix"></div>
        </md-dialog-actions>
    </form>
</md-dialog>
<!--End of popup-->
