﻿<style>
    md-dialog-content{
        max-height:500px;
    }
</style>
<!--Popup for Add/Edit user -->
<md-dialog  class="col-lg-8 col-md-10 col-sm-8 col-xs-12">
    <form name="UserInfo" novalidate ng-submit="SaveUser()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>User Info</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closePopup()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Employee ID</label>
                                <input ng-model="UId" type="number" name="UId" required ng-disabled="!IsAdmin() || !isNew">
                                <div ng-messages="UserInfo.UId.$error" ng-show="UserInfo.$submitted || UserInfo.UId.$touched">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First Name</label>
                                <input ng-model="FirstName" name="FirstName" required ng-disabled="!IsAdmin()" class="txt-string">
                                <div ng-messages="UserInfo.FirstName.$error" ng-show="UserInfo.$submitted || UserInfo.FirstName.$touched">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Last Name</label>
                                <input ng-model="LastName" name="LastName" required ng-disabled="!IsAdmin()" class="txt-string">
                                <div ng-messages="UserInfo.LastName.$error" ng-show="UserInfo.$submitted || UserInfo.LastName.$touched">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Role</label>
                                <md-select name="RoleId" ng-model="RoleId" required ng-disabled="!IsAdmin()">
                                    <md-option ng-repeat="(index,role) in roles" value="{{role.RoleDescription}}" ng-selected="index == RoleIndex">{{role.RoleDescription}}</md-option>
                                </md-select>
                                <div ng-messages="UserInfo.RoleId.$error" ng-show="UserInfo.$submitted || UserInfo.RoleId.$touched">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Department</label>
                                <md-select name="Department" ng-model="Department" required ng-disabled="!IsAdmin()">
                                    <md-option ng-repeat="(index,department) in departments" value="{{department.Name}}" ng-selected="index == DepartmentIndex">{{department.Name}}</md-option>
                                </md-select>
                                <div ng-messages="UserInfo.Department.$error" ng-show="UserInfo.$submitted || UserInfo.Department.$touched">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Designation</label>
                                <md-select name="Designation" ng-model="Designation" required ng-disabled="!IsAdmin()">
                                    <md-option ng-repeat="(index,designation) in designations" value="{{designation.Name}}" ng-selected="index == DesignationIndex">{{designation.Name}}</md-option>
                                </md-select>
                                <div ng-show="UserInfo.$submitted || UserInfo.Designation.$touched">
                                    <div ng-messages="UserInfo.Designation.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Email</label>
                                <input ng-model="Email" name="Email" type="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required ng-disabled="!IsAdmin()">
                                <div ng-messages="UserInfo.Email.$error" ng-show="UserInfo.$submitted || UserInfo.Email.$touched">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="email">Invalid format.</div>
                                    <div ng-message="pattern">Invalid format.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Mobile</label>
                                <input ng-model="Mobile" name="Mobile" required ng-pattern="/^\d{10}$/" ng-disabled="!IsAdmin()">
                                <div ng-messages="UserInfo.Mobile.$error" ng-show="UserInfo.$submitted || UserInfo.Mobile.$touched">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="pattern">Please enter a valid mobile number</div>
                                </div>
                            </md-input-container>
                        </div>
                         <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Reporting Manager</label>
                                <md-select name="ReportingManager" ng-model="ReportingManager" required ng-disabled="!IsAdmin()">
                                    <md-option ng-repeat="(index,manager) in Managers" value="{{manager.Name}}"
                                                ng-selected="index == ManagerIndex">{{manager.Name}}</md-option>
                                </md-select>
                               <!--<input ng-model="ReportingManager" name="ReportingManager" required ng-disabled="!IsAdmin()">-->
                                <div ng-messages="UserInfo.ReportingManager.$error" ng-show="UserInfo.$submitted || UserInfo.ReportingManager.$touched">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Date of Birth</label>
                                <md-datepicker ng-model="DateofBirth" name="DateofBirth" required ng-disabled="!IsAdmin()" md-min-date="DateofBirthMinDate" md-max-date="DateofBirthMaxDate"></md-datepicker>
                                <div ng-messages="UserInfo.DateofBirth.$error" ng-show="UserInfo.$submitted || UserInfo.DateofBirth.$touched">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="valid">Invalid date</div>
                                    <div ng-message="mindate">Invalid Minimum date</div>
                                    <div ng-message="maxdate">User should be less than {{UserDateofBirthMaxDate}}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Date of Joining</label>
                                <md-datepicker ng-model="DateofJoining" name="DateofJoining" required ng-disabled="!IsAdmin()" md-min-date="DateofJoiningMinDate" md-max-date="DateofJoiningMaxDate"></md-datepicker>
                                <div ng-messages="UserInfo.DateofJoining.$error" ng-show="UserInfo.$submitted || UserInfo.DateofJoining.$touched">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="valid">Invalid date</div>
                                    <div ng-message="mindate">Minimum date should be 01/04/2002</div>
                                    <div ng-message="maxdate">Future date not allowed here</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <input type="submit" class="btn btn-md btn-primary" value="Save" ng-disabled="UserInfo.$invalid" permission="Administrator" />
            <a ng-click="closePopup()" class="btn btn-md" id="btnClose">{{IsAdmin()?"Cancel":'Close'}}</a>
            <div class="clearfix"></div>
        </md-dialog-actions>
    </form>
  
</md-dialog>
<!--End of popup-->
