﻿<!--Popup for Add Video category-->
<md-dialog class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
    <form ng-cloak name="form" novalidate ng-submit="SaveAlbum()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Video Album</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="Cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label class="control-label">Album Name</label>
                            <input type="text" ng-model="Name" class="form-control" required name="Name">
                            <div ng-messages="form.Name.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <input type="submit" class="btn btn-md btn-primary" value="Submit" permission="Administrator" ng-disabled="form.$invalid" />
            <a ng-click="Cancel()" class="btn btn-md">{{IsAdmin()?"Cancel":"Close"}}</a>
            <div class="clearfix"></div>
        </md-dialog-actions>
    </form>
</md-dialog>
<!--End of popup-->

