﻿

<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12" ng-cloak>
    <div class="card" id="addphoto">
        <div class="card-header" data-background-color="purple">
            <h4 class="title">{{Title}}</h4>
            <p class="category"></p>
        </div>
        <div class="card-content">
            <form name="form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-focused">
                            <label class="control-label">Title</label>
                            <input type="text" ng-model="Title" class="form-control" disabled="disabled">
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-focused">
                            <label class="control-label">Category</label>
                            <input type="text" ng-model="Category" class="form-control" disabled="disabled">
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-focused">
                            <label class="control-label">Description</label>
                            <input type="text" ng-model="Description" class="form-control" disabled="disabled">
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-focused">
                            <label class="control-label">Announced By</label>
                            <input type="text" ng-model="AnnouncedBy" class="form-control" disabled="disabled">
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-focused">
                            <label class="control-label">Announced On</label>
                            <input type="date" ng-model="AnnouncedOn" class="form-control" placeholder="DD-MMM-YYYY" disabled="disabled">
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
                <a ng-click="Cancel()" class="btn btn-md">Close</a>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
