﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkBanners").addClass("active");//make this menu has active
    })
</script>
<div class="card" ng-cloak>
    <div class="card-header" data-background-color="purple">
        <div class="col-md-6">
            <div class="pageTitle">Banners</div>
        </div>
        <div class="col-md-6 text-right">
            <span ng-bind="val"></span>
            <a ng-click="ShowAddBanner()" class="btn btn-sm btn-outline-primary margin-none">Add Banner</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="card-content">
        <div class="banner-list">
            <!--row 1-->
            <div class="col-md-4 col-sm-4" ng-repeat="img in images">
                <div class="card">
                    <img ng-src="{{img.ImageUrl}}" alt="image" class="img-responsive">
                    <div class="card-footer">
                        <div class="card-title">
                            {{img.Title}}
                        </div>
                        <p><a ng-click="ChangeStatus(img.Id)">{{img.IsActive?'Active':'Inactive'}} <i ng-class="{'text-success': img.IsActive, 'text-danger' :!img.IsActive }" class="fa fa-dot-circle-o"></i></a> | <a ng-click="DeleteBanner(img.Id)">Delete Banner <i class="fa fa-trash text-danger"></i></a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>