﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkBirthdays").addClass("active");//make this menu has active
    })
</script>
<div class="row">
    <div class="col-md-4">
        <md-select ng-model="currentMonth">
            <md-option value="January">January {{year}}</md-option>
            <md-option value="February">February {{year}}</md-option>
            <md-option value="March">March {{year}}</md-option>
            <md-option value="April">April {{year}}</md-option>
            <md-option value="May">May {{year}}</md-option>
            <md-option value="June">June {{year}}</md-option>
            <md-option value="July">July {{year}}</md-option>
            <md-option value="August">August {{year}}</md-option>
            <md-option value="September">September {{year}}</md-option>
            <md-option value="October">October {{year}}</md-option>
            <md-option value="November">November {{year}}</md-option>
            <md-option value="December">December {{year}}</md-option>
        </md-select>
    </div>
    <!--<div class="col-md-12 text-center"><h3>{{birthdays[0].Month+" "+year}}</h3></div>-->
</div>
<ul class="timeline" ng-show="hasData">
    <li ng-class-even="'timeline-inverted'" ng-repeat="birthday in birthdays | filter: {Month:currentMonth}">
        <div class="timeline-badge"><img ng-src="{{birthday.pic}}" src="/img/faces/user.png" /></div>
        <div class="timeline-panel">
            <div ng-class-odd="'text-right'" class="timeline-heading">
                <h4 class="text-purple">{{birthday.Name}}</h4> <span class="timestamp">{{birthday.Month + " " +birthday.birthDate+", "+birthday.Day}}</span>
            </div>
        </div>
    </li>
</ul>