﻿<!--Popup for Upload video-->
<md-dialog class="col-lg-6 col-md-4 col-sm-8 col-xs-12">
    <form ng-cloak name="form" novalidate ng-submit="SaveVideo()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Upload Video</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="Cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>  
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label>Caption</label>
                            <input type="text" ng-model="Caption" required name="Caption">
                            <div ng-messages="form.Caption.$error" ng-show="form.$submitted || form.Caption.$touched">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label>Enter Embeded Link</label>
                            <input type="text" ng-model="link" ng-blur="validateURL()" required name="link">
                            <div ng-messages="form.link.$error" ng-show="form.$submitted || form.link.$touched">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>

                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="form-control" type="file" required name="file" ngf-select ng-model="file"
                             accept="video/*">
                            Upload Video
                        </div>
                        <label class="control-label" style="color:red">Allows only .mp4 files</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">OR</label>
                    </div>
                </div>-->
                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Enter Embeded Link</label>
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>-->
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <input type="submit" class="btn btn-md btn-primary" value="Submit" permission="Administrator"  />
            <a ng-click="Cancel()" class="btn btn-md">{{IsAdmin()?"Cancel":"Close"}}</a>
            <div class="clearfix"></div>
        </md-dialog-actions>
    </form>
</md-dialog>
<!--End of popup-->


