﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkDashboard").addClass("active");//make this menu has active
    })
</script>
<style>
    md-dialog {
        opacity: 1 !important;
    }
</style>

<!--<div class="row" style="display: none;">
    <div class="col-md-12 margin-bottom-25">
        <div id="myCarousel" class="carousel demo-1 slide" data-ride="carousel">
            
            <!-- Indicators -->
            <!--<ol class="carousel-indicators">
                <li data-target="#myCarousel" ng-repeat="slide in slides" data-slide-to="{{$index}}" ng-class="{active:!$index}"></li>
            </ol>-->
            <!-- Wrapper for slides -->
            <!--<div class="carousel-inner elastislide-wrapper elastislide-horizontal" role="listbox">
                <div class="item" ng-class="{active:!$index}" ng-repeat="slide in slides">
                    <img ng-src="{{slide.ImageUrl}}">
                </div>
            </div>-->
            <!-- Left and right controls -->
            <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" target="_self">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" target="_self">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>-->
<div class="row">
    <div class="col-md-6 margin-botom-25">
        <div class="card">
            <div class="card-header row" data-background-color="purple">
                <div class="col-md-8">
                    <h4 class="title"><i class="material-icons">recent_actors</i> Photos</h4>
                </div>
                <div class="col-md-4 text-right">
                    <a href="#/PhotoAlbum" class="btn btn-sm margin-none btn-outline-primary waves-effect">
                        Show More
                        <div class="ripple-container"></div>
                    </a>
                </div>
            </div>
            <div class="photogallery">
                <div ng-repeat="photo in photos" class="col-md-6 ng-scope">
                    <div class="card">
                        <div ng-click="ShowAllPhotos(photo)">
                            <!--style="height: 225px;width: 225px!important;"-->
                            <img src="{{photo.Path}}" alt={{photo.Name}} class="img-responsive">
                            <div class="card-footer"><div class="card-title"><a>{{photo.Name}}</a></div></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 margin-botom-25">
        <div class="card">
            <div class="card-header row" data-background-color="purple">
                <div class="col-md-8">
                    <h4 class="title"><i class="material-icons">subscriptions</i> Videos</h4>
                </div>
                <div class="col-md-4 text-right">
                    <a href="#/VideoAlbums" class="btn btn-sm margin-none btn-outline-primary waves-effect">
                        Show More
                        <div class="ripple-container"></div>
                    </a>
                </div>
            </div>
            <div class="photogallery">
                <div ng-repeat="video in videos" class="col-md-6 ng-scope">
                    <div class="card">
                        <iframe class="img-responsive" src={{video.Path}} frameborder="0" allowfullscreen="" style="height:220px;width:225px!important"></iframe>

                        <div class="card-footer">
                            <div class="card-title">
                                <a target="_blank" href={{video.Path}} class="ng-binding">{{video.Name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-botom-25">
        <div class="card card-nav-tabs">
            <div class="card-header" data-background-color="purple">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active">
                                <a data-target="#profile" data-toggle="tab">
                                    <i class="material-icons">record_voice_over</i> Announcements
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a data-target="#messages" data-toggle="tab">
                                    <i class="material-icons">code</i> Projects
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a data-target="#settings" data-toggle="tab">
                                    <i class="material-icons">cake</i> Birthdays
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a data-target="#news" data-toggle="tab">
                                    <!--href="#news"-->
                                    <i class="material-icons">library_books</i> News
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a data-target="#events" data-toggle="tab">
                                    <!--href="#events"-->
                                    <i class="material-icons">content_paste</i> Events
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="">
                                <a data-target="#documents" data-toggle="tab">
                                    <i class="material-icons">folder</i> Documents
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <!--<li class="">
                                <a data-target="#ApplicationSettings" data-toggle="tab">
                                    <i class="material-icons"></i> Application Settings
                                    <div class="ripple-container"></div>
                                </a>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Created By
                                    </th>
                                    <th>
                                        Created On
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="announcement in announcements" class="ng-scope">
                                    <td><a ng-click="ShowAddAnnouncement(announcement.Id, announcement.Title, announcement.Description, announcement.CategoryId)">{{announcement.Title}}</a></td>
                                    <td>{{announcement.AnnouncedBy}}</td>
                                    <td>{{announcement.AnnouncedOn}} &nbsp;</td>
                                </tr>
                                <tr class="text-right">
                                    <td colspan="3">
                                        <a href="#/Announcements" class="btn btn-mdb btn-sm waves-effect">
                                            More...
                                            <div class="ripple-container"></div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="messages">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Owner
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="project in projects" class="ng-scope">
                                    <td><a ng-click="ReadMoreProjects(project)">{{project.Name}}</a></td>
                                    <td>
                                        {{project.Owner}}
                                    </td>
                                </tr>
                                <tr class="text-right">
                                    <td colspan="2">
                                        <a href="#/Projects" class="btn btn-mdb btn-sm waves-effect">
                                            More...
                                            <div class="ripple-container"></div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="settings">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Employee
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="birthday in birthdays" class="ng-scope">
                                    <td><div class="timeline-badge"><a ng-click="ReadMoreBirthday(birthday)"><img ng-src="{{birthday.ProfilePicPath}}" src="/img/faces/user.png" /> {{birthday.Name}}</a></div> </td>
                                    <td>
                                        {{birthday.BirthDate}}
                                    </td>
                                </tr>
                                <tr class="text-right">
                                    <td colspan="2">
                                        <a href="#/Birthdays" class="btn btn-mdb btn-sm waves-effect">
                                            More...
                                            <div class="ripple-container"></div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="news">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Author
                                    </th>
                                    <th>
                                        Published On
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="new in news" class="ng-scope">
                                    <td><a ng-click="ShowAddNews(new.Id, new.Title, new.Description, new.Category)">{{new.Title}}</a></td>
                                    <td>
                                        {{new.CreatedBy}}
                                    </td>
                                    <td>
                                        {{new.CreatedOn}}
                                    </td>
                                </tr>
                                <tr class="text-right">
                                    <td colspan="3">
                                        <a href="#/News" class="btn btn-mdb btn-sm waves-effect">
                                            More...
                                            <div class="ripple-container"></div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="events">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Event
                                    </th>
                                    <th>
                                        Happening At
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Happening On
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="event in events" class="ng-scope">
                                    <td><a ng-click="ReadMore(event)">{{event.Name}}</a></td>
                                    <td>
                                        {{event.Location}}
                                    </td>
                                    <td>{{event.Description}}</td>
                                    <td>
                                        {{event.EventDate}}
                                    </td>
                                </tr>
                                <tr class="text-right">
                                    <td colspan="4">
                                        <a href="#/Events" class="btn btn-mdb btn-sm waves-effect">
                                            More...
                                            <div class="ripple-container"></div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="documents">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Documents Category
                                    </th>
                                    <th>
                                        Documents Count
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="document in documents" class="ng-scope">
                                    <td><a ng-click="ShowAllDocuments(document)">{{document.Title}}</a> </td>
                                    <td>{{document.Count}} </td>
                                </tr>
                                <tr class="text-right">
                                    <td colspan="2">
                                        <a href="#/Documents" class="btn btn-mdb btn-sm waves-effect">
                                            More...
                                            <div class="ripple-container"></div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--<div class="row">

</div>-->
