﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkDocuments").addClass("active");//make this menu has active
    })
</script>
<div ng-controller="DocumentListController" ng-cloak>
    <div class="card">
        <div class="card-header" data-background-color="purple">
            <div class="col-xs-12 col-md-7 col-sm-7 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-sm-12 col-lg-6">
                        <div class="pageTitle">{{Category}}</div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-12 col-lg-6 datatables_filter margin-top-7" id="dataTables-example_filter">
                        <span class="input-group">
                            <input type="text" aria-controls="dataTables-example" placeholder="{{'Search'}}"
                                   ng-model="filterBy" ng-change="onChange()" class="form-control ng-pristine ng-untouched ng-valid header-input" />
                            <span class="input-group-btn">
                                <a class="btn clear-filter" ng-show="filterBy.length>0" data-ng-click="clearSearchParams()"><span class="fa fa-remove"></span></a>
                            </span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-sm-5 col-lg-4 text-right">
                <a href="#/Documents" class="btn btn-sm btn-outline-info margin-none">Back</a>
                <a ng-click="ShowAddDocument()" class="btn btn-outline-primary btn-sm margin-none" permission="Administrator">Add Documents</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="card-content table-responsive">
            <table tr-ng-grid="" items='Documents' page-items="PageSize" total-items="TotalRecordsCount" on-data-required-delay="5" enable-filtering="false"
                   on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)"
                   fields=show_fields selection-mode="None" enable-sorting="true">
                <thead>
                    <tr>
                        <th field-name="DocumentID" display-name="Id" enable-filtering="false" enable-sorting="true"></th>
                        <th field-name="DocumentType" display-name="Type" enable-filtering="false" enable-sorting="false"></th>
                        <th field-name="Path" display-name="Path" enable-filtering="false" enable-sorting="true"></th>
                        <th field-name="Name" display-name="Name" enable-filtering="false" enable-sorting="true"></th>
                        <th field-name="Download" display-name="Download" enable-filtering="false" enable-sorting="false"></th>
                        <th field-name="Delete" enable-filtering="false" enable-sorting="false" style="width:70px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:50px" field-name="DocumentType">
                            <span title="{{gridItem.DocumentType}}">
                                <i class="{{getDocumentType(gridItem.DocumentType)}}"></i>
                            </span>
                        </td>
                        <td field-name="Name">
                            <span>{{gridItem.Name}}</span>
                        </td>
                        <td style="width:70px" field-name="Download">
                            <span ng-click="DownloadDocument(gridItem)" title="Download">
                                <a><i class="fa fa-download"></i></a>
                            </span>
                        </td>
                        <td field-name="Delete" style="width:70px">
                            <span ng-click="DeleteDocument(gridItem)" title="Delete">
                                <a><i class="fa fa-trash text-danger"></i></a>
                            </span>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <span class="form-group">
                                        Show
                                        <md-input-container>
                                            <md-select ng-model="pPageSizeObj.selected" ng-change="changePageSize()">
                                                <md-option ng-repeat="item in pageSizeList" ng-value="item.value">
                                                    {{item.text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        entries
                                    </span>
                                </div>
                                <div class="col-sm-8 text-right">
                                    <span tr-ng-grid-pager=""></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
