﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkDocuments").addClass("active");//make this menu has active
    })
</script>
<div class="card">
    <div class="card-header" data-background-color="purple">
        <div class="col-md-10">
            <div class="pageTitle">Documents</div>
        </div>
        <div class="col-md-2 text-right" permission="Administrator">
            <a ng-click="ShowAddDocument()" class="btn btn-outline-primary btn-sm margin-none">Add Category</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="card-content margin-top-M20 photogallery">
            <div class="col-md-3 col-sm-4" ng-repeat="cat in categories">
                <div class="card">
                    <div class="divDocList" ng-click="ShowAllDocuments(cat)"></div>
                    <div class="card-footer">
                        <div class="card-title">
                            <a ng-click="ShowAllDocuments(cat)">{{cat.Category}}</a>
                        </div>
                        <div class="icoBtn">
                            <a ng-click="DeleteDocuments(cat)" class="md-fab md-mini md-button waves-effect waves-light mar_top_M40" permission="Administrator">
                                <i class="fa fa-trash text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


