﻿
<div class="col-lg-1 col-md-10 col-sm-10 col-xs-10" ng-cloak>
    <div class="card" id="addphoto">
        <div class="card-header" data-background-color="purple">
            <h4 class="title">Edit Event</h4>
            <p class="category"></p>
        </div>
        <div class="card-content">
            <form name="form">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-focused">
                            <label class="control-label">Event</label>

                            <input type="text" ng-model="Name" class="form-control" required disabled="disabled">
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-focused">
                            <label class="control-label">Location</label>

                            <!--<input type="text" ng-model="Location" class="form-control" required>-->
                            <textarea ng-model="Location" class="form-control" required />
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-focused">
                            <label class="control-label">Description</label>

                            <input type="text" ng-model="Description" class="form-control" required>
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating is-focused">
                            <label class="control-label">Date</label>
                            <!--<input type="text" ng-model="StartDate" class="form-control" required disabled="disabled">-->
                            <input type="date" id="dateField" min="2017-01-01" ng-model="StartDate" ng-model-options="{timezone: 'utc'}" class="form-control" placeholder="DD-MMM-YYYY" required>
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-control" ngf-select ng-model="file" required name="file" ngf-pattern="'image/*'" ngf-max-size="20MB" ngf-resize="{width: 160, height: 287}"
                             ngf-accept="'image/*'">Upload Image</div>
                        <img ngf-thumbnail="file || '/img/noimage_2.gif'">

                    </div>
                </div>

                <a ng-click="Cancel()" class="btn btn-primary pull-right">Cancel</a>
                <button type="submit" ng-click="SaveEvent()" class="btn btn-primary pull-right">Submit</button>

                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    $(document).ready(function () {
        debugger;
        var input = document.getElementById("dateField");
        var today = new Date();
        var day = today.getDate();
        // Set month to string to add leading 0
        var mon = new String(today.getMonth() + 1); //January is 0!
        var yr = today.getFullYear();

        if (mon.length < 2) { mon = "0" + mon; }

        var date = new String(yr + '-' + mon + '-' + day);

        input.disabled = false;
        input.setAttribute('min', date);
    });
</script>