﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkEvents").addClass("active");//make this menu has active
    })
</script>
<div class="content" ng-controller="EventsController as ctrl">
    <div class="container-fluid">
        <div class="row margin-bottom-30">
            <div class="col-md-4">
                <md-select ng-model="currentMonth">
                    <md-option value="All">All</md-option>
                    <md-option value="January">January {{year}}</md-option>
                    <md-option value="February">February {{year}}</md-option>
                    <md-option value="March">March {{year}}</md-option>
                    <md-option value="April">April {{year}}</md-option>
                    <md-option value="May">May {{year}}</md-option>
                    <md-option value="June">June {{year}}</md-option>
                    <md-option value="July">July {{year}}</md-option>
                    <md-option value="August">August {{year}}</md-option>
                    <md-option value="September">September {{year}}</md-option>
                    <md-option value="October">October {{year}}</md-option>
                    <md-option value="November">November {{year}}</md-option>
                    <md-option value="December">December {{year}}</md-option>
                </md-select>
                <!--<md-select class="form-control" ng-model="selectedYear" required>
                    <md-select-label>{{currentYear}}</md-select-label>
                    <md-option ng-repeat="year in years" ng-value="year">{{year}}</md-option>
                </md-select>-->
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-2" permission="Administrator"><a ng-click="ShowAddEvent()" class="btn btn-primary">Add Events<div class="ripple-container"></div></a></div>
        </div>
        <div class="row margin-bottom-30">
            <div class="col-md-12">
                <div ng-repeat="event in events | filter:((currentMonth == 'All') ? '' : {Month:currentMonth, year:year}) ">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <!--filter: (shouldFilter ? {value: search} : '')-->
                        <div class="card">
                            <div class="card-header card-chart"> <img class="img-responsive" src={{event.Image}} /> </div>
                            <div class="card-content">
                                <h1 class="card-title">
                                    {{event.Name}}

                                </h1>
                                <div class="icoBtnEvents">
                                    <a class="md-fab md-mini md-edit-theme md-button waves-effect waves-light mar_top_M40 ng-isolate-scope" ng-click="ShowAddEvent(event)" permission="Administrator">  <i class="fa fa-edit text-white"></i></a>
                                    <a class="md-fab md-mini md-button waves-effect waves-light mar_top_M40 ng-isolate-scope" ng-click="DeleteEvent(event)" permission="Administrator">  <i class="fa fa-trash text-white"></i></a>
                                </div>
                                <div>{{event.Location}} <i class="fa fa-clock-o margin-left-20"></i> {{event.StartDateFormat}}</div>
                                <a ng-click="ReadMore(event)" class="btn btn-sm btn-primary">View More<div class="ripple-container"></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>