﻿<!--Popup for Event View more-->
<md-dialog class="col-lg-7 col-md-8 col-sm-12 col-xs-12 md-content-overflow">
    <form novalidate name="form" ng-submit="SaveEvent()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 class="title">{{Name}}</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="Cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="card card-stats">
                    <div class="card-header">
                        <img class="md-user-avatar" ngf-thumbnail="file || '/img/noimage_2.gif'" />
                    </div>
                    <div class="card-content">
                        <div class="md-title">{{Name}}</div>
                        <div class="md-subhead">{{Location}}</div>
                        <div class="md-subhead">{{StartDate}}</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="card-content margin-top-15">
                        <p>
                            {{Description}}
                        </p>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <a ng-click="Cancel()" class="btn btn-md">{{IsAdmin()?"Cancel":"Close"}}</a>
            <div class="clearfix"></div>
        </md-dialog-actions>
    </form>
</md-dialog>
<!--End of popup-->
