﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>


    <form action="/your-server-side-code" method="POST">

        <div class="col-md-4 col-sm-3">

            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">{{p.PlanName}}</h3>
                </div>

                <div class="panel-body">
                    <!--<span class="price1"><sub></sub> <sup> </sup></span>-->
                    <div class="price3">{{p.Description}} </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">{{p.Amount}}</li>

                    <li class="list-group-item">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                                data-amount="999"
                                data-name="Stripe.com"
                                data-description="Widget"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto"
                                data-zip-code="true">
                        </script>
                    </li>
                </ul>


            </div>
            </div>
      
</form>
</body>
</html>
