﻿<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

<script>
    var editorDescription = "", newsId = "", isRoleAdmin = false;
    var files = [], operationType = "Add";
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkNews").addClass("active");//make this menu has active
        $(".paging-changed").click(function () {
            formatTextToHtml();
        });
    })
</script>

<style>
    /*img {
        width: auto !important;
    }*/

    .news-description {
        max-height: 200px;
        overflow-y: auto;
    }

    .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }

        .collapsible .collection {
            margin: 0;
            border: none;
        }

    .collapsible {
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        margin: 0.5rem 0 3rem 0;
    }

    .collapsible-header {
        display: block;
        cursor: pointer;
        min-height: 3rem;
        line-height: 3rem;
        padding: 1rem;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
        font-weight: 500;
    }

        .collapsible-header small {
            font-weight: normal;
            display: block;
            margin-top: -10px;
        }

        .collapsible-header i {
            width: 2rem;
            font-size: 1.6rem;
            line-height: 3rem;
            display: block;
            float: right;
            text-align: center;
            margin-right: 1rem;
        }

    .collapsible-body {
        display: none;
        background-color: #f6f6f6;
        border-bottom: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
    }

        .collapsible-body p {
            margin: 0;
            padding: 2rem;
        }

    .side-nav .collapsible {
        border: none;
        box-shadow: none;
    }

        .side-nav .collapsible li {
            padding: 0;
        }

    .side-nav .collapsible-header {
        background-color: transparent;
        border: none;
        line-height: inherit;
        height: inherit;
        margin: 0 1rem;
    }

        .side-nav .collapsible-header i {
            line-height: inherit;
        }

    .side-nav .collapsible-body {
        border: 0;
        background-color: #fff;
    }

        .side-nav .collapsible-body li a {
            margin: 0 1rem 0 2rem;
        }

    .collapsible.popout {
        border: none;
        box-shadow: none;
    }

        .collapsible.popout > li {
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            margin: 0 24px;
            transition: margin .35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

            .collapsible.popout > li.active {
                box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
                margin: 16px 0;
            }


    .side-nav .collapsible {
        margin: 0;
    }



    .side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active {
        background-color: #ee6e73;
    }

        .side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a {
            color: #fff;
        }
</style>

<!--Categories & News Add buttons-->
<!--row starts-->
<!--News list-->
<div class="card">
    <div class="card-header" data-background-color="purple">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-md-1 customMenu">
                        <md-menu>
                            <md-button aria-label="Open menu with custom trigger" class="margin-none" style="max-width: 20px;" ng-click="$mdMenu.open()">
                                <i class="fa fa-bars "></i>
                            </md-button>
                            <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                                <md-menu-item>
                                    <md-button ng-click="SelectCategory(undefined)">
                                        <a class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            All
                                        </a>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item permission="Administrator">
                                    <md-button>
                                        <a class="col-lg-10 col-md-10 col-sm-9 col-xs-9" ng-click="ShowAddCategory()">
                                            Add New
                                        </a>
                                        <a class="col-lg-2 col-md-2 col-sm-3 col-xs-3" title="Add" ng-click="ShowAddCategory()" ng-show="IsAdmin()">
                                            <i class="fa fa-plus-square text-primary">
                                            </i>
                                        </a><hr>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ng-repeat="category in categories">
                                    <md-button>
                                        <a class="col-lg-10 col-md-10 col-sm-9 col-xs-9" ng-click="SelectCategory(category.Id)">
                                            {{category.Name}}
                                        </a>
                                        <a class="col-lg-2 col-md-2 col-sm-3 col-xs-3" title="Edit" ng-click="ShowAddCategory(category.Id, category.Name)" ng-show="IsAdmin()">
                                            <i class="fa fa-pencil text-primary">
                                            </i>
                                        </a><hr>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="pageTitle col-sm-6">News List</div>
                </div>
            </div>
            <div class="col-sm-6 text-right" permission="Administrator">
                <a ng-click="ShowAddNews()" class="btn btn-sm btn-outline-primary margin-none">Add News<div class="ripple-container"></div></a>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <div class="card-content">
        <ul class="collapsible" data-collapsible="accordion">
            <li ng-repeat="newsRecord in  (filterResult = (news | filter: (!!selectedCategoryId || undefined) && {CategoryId:selectedCategoryId} | startFrom:currentPage*pageSize | limitTo:pageSize))" class="md-3-line">
                <div class="collapsible-header">
                    {{newsRecord.Title}}
                    <i class="fa fa-angle-down rotate-icon"></i>
                    <div class="pull-right">
                        <md-switch class="pull-right" ng-model="newsRecord.IsActive" permission="Administrator" ng-change="ChangeStatus(newsRecord)">
                        </md-switch>
                        <a href="" class="pull-right" ng-click="ShowAddNews(newsRecord.Id, newsRecord.Title, newsRecord.FullDescription, newsRecord.CategoryId)">
                            <md-tooltip md-direction="left"> {{IsAdmin()?'Edit':'View'}} </md-tooltip>
                            <i ng-show="IsAdmin()" class="fa fa-pencil text-primary"></i>
                            <i ng-hide="IsAdmin()" class="fa fa-eye text-primary"></i>
                        </a>
                    </div>
                    <small class="timestamp text-primary">
                        <span mg-livestamp="{{newsRecord.CreatedOn}}">
                            <md-tooltip md-direction="top"> {{newsRecord.CreatedOn}}</md-tooltip>
                        </span> | {{newsRecord.Category}} | {{newsRecord.CreatedBy}}
                        <!--<label permission="Administrator"> | </label>-->
                    </small>
                </div>
                <div class="collapsible-body">
                    <div class="md-list-item-text">
                        <div class="news-description">
                            {{newsRecord.Description}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <md-button class="md-fab md-primary md-mini paging-changed" ng-disabled="currentPage == 0" ng-click="PagingPrevChange()">
            <i class="fa fa-chevron-circle-left"></i>
        </md-button>
        {{currentPage+1}}/{{numberOfPages()}}
        <md-button class="md-fab md-primary md-mini paging-changed" ng-disabled="currentPage >= (selectedCategoryId!=undefined? filterResult.length:news.length)/pageSize - 1" ng-click="PagingNextChange()">
            <i class="fa fa-chevron-circle-right"></i>
        </md-button>
    </div>
</div>
<!--row ends-->
<!--Popup for Add Category-->
<div style="visibility: hidden">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="md-dialog-container" id="addCategoryDialog">
            <form name="newsCategoryForm" novalidate ng-submit="SaveNewsCategory()">
                <md-dialog>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>{{editedCategoryId>0?"Edit Category":"Add Category"}}</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="AddCategoryCancel()">
                                <i class="fa fa-times"></i>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-dialog-content>
                        <div class="md-dialog-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <md-input-container class="md-block">
                                        <label>News Category</label>
                                        <input type="text" ng-model="editedCategoryName" required name="editedCategoryName">
                                        <div ng-messages="newsCategoryForm.editedCategoryName.$error" ng-show="newsCategoryForm.$submitted || newsCategoryForm.editedCategoryName.$touched">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </md-dialog-content>
                    <md-dialog-actions layout="row">
                        <input type="submit" permission="Administrator" class="btn btn-primary pull-right" value="Submit" ng-disabled="newsCategoryForm.$invalid" />
                        <a ng-click="AddCategoryCancel()" class="btn btn-primary pull-right">Cancel</a>
                        <div class="clearfix"></div>
                    </md-dialog-actions>
                </md-dialog>
            </form>
        </div>
    </div>
</div>
<!--End of popup-->
