﻿<link href="../../Content/Pricing.css" rel="stylesheet" />

<div ng-controller="PaymentCtrl" ng-cloak>
    <section id="membership-plan" class="membership-plan">
        <div id="Upgrade" class="content">
            <div class="container-fluid card text-center">
                <div class="card-header" data-background-color="purple">
                    <div class="plan-wrapo">
                        <h4 class="text-white pull-left">Select Plan</h4>
                        <div class="btn-group margin-left-20 pull-left" role="group" aria-label="...">
                            <a ng-class="appliedClass(Monthly)" class="btn-sm" ng-click="PlanType(Monthly)">Monthly</a>
                            <a ng-class="appliedClass(Yearly)" class="btn-sm" ng-click="PlanType(Yearly)">Yearly</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div id="selctplan" class="card-content">
                    <div class="pricing-table">
                        <div class="col-md-4 col-sm-4 pricing-item" ng-repeat="p in plans">
                            
                                <div class="pricing-header">
                                    <div class="pricing-price">
                                        <span class="pricing-currency">$</span>
                                        <span class="pricing-amount">{{p.Amount}}</span>
                                        <!--<span class="pricing-period">/ mo</span>-->
                                    </div>
                                    <div class="pricing-title">{{p.PlanName}}</div>
                                </div>
                                <ul class="pricing-features">
                                    <li>{{p.Description}}</li>
                                </ul>
                                <div class="pricing-footer">
                                    <a ng-click="Upgrade(p)" class="btn btn-primary" ng-show="p.Amount!=0">SELECT</a>
                                </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
