﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkPhotoAlbum").addClass("active");//make this menu has active
    })
</script>

<div class="card" id="image_full">
    <div class="card-header" data-background-color="purple">
        <div class="col-md-10">
            <div class="pageTitle">Photos</div>
        </div>
        <div class="col-md-2 text-right" permission="Administrator">
            <a ng-click="ShowAddPhotoAlbum()" class="btn btn-outline-primary btn-sm margin-none">Add Photo Album</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="card-content margin-top-M20 photogallery">
            <div class="col-md-3 col-sm-4" ng-repeat="a in albums">
                <div class="card">
                    <div ng-click="ShowAllPhotos(a)" class="imgPhoto"><img src={{a.Path}} alt="" class="img-responsive"></div>
                    <div class="card-footer">
                        <div class="card-title">
                            <a ng-click="ShowAllPhotos(a)">{{a.Name}}</a>
                        </div>
                        <div class="icoBtn">
                            <a class="md-fab md-mini md-button waves-effect waves-light mar_top_M40" ng-click="DeleteAlbum(a)" permission="Administrator">  <i class="fa fa-trash text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>