﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkPhotoAlbum").addClass("active");//make this menu has active
    })
</script>
<div class="card">
    <div class="card-header" data-background-color="purple">
        <div class="row">
            <div class="col-sm-4">
                <div class="pageTitle">{{albumName}} </div>
            </div>
            <div class="col-sm-8 text-right">
                <a href="#/PhotoAlbum" class="btn btn-sm btn-outline-info margin-none">Back</a>
                <a ng-click="ShowAddPhotos()" permission="Administrator" class="btn btn-sm btn-outline-primary  margin-none">Add Photos</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="card-content margin-top-M20 photogallery">
            <div ng-repeat="a in photos">
                <div class="col-md-3 col-sm-3">
                    <div class="card">
                        <a ng-click="openLightboxModal($index)" class="imgPhoto text-center">
                            <img src={{a.url}} alt="image" class="img-responsive">
                        </a>
                        <div class="" permission="Administrator">
                            <div>{{a.Caption}}</div>
                            <div class="icoBtn"><a ng-click="DeletePhoto(a)" class="md-fab md-mini md-button waves-effect waves-light mar_top_M32">  <i class="fa fa-trash text-white"></i></a></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>



