﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection


        
    //    var date = new Date();
    //    var text = date.toTimeString().substring(8, 100);
    //    document.getElementById("hfTimeZone").value = text.substring(4, 9);
    //    timeZone = document.getElementById("hfTimeZone").value;
    //    $.ajax({
    //        async: true,
    //        type: "POST",
    //        dataType: 'JSON',
    //        url: "/User/CreateTimezoneSession",
    //        data: {
    //            timeZone: timeZone
    //        }
    //    }).success(function (result) { });

    })

</script>
<div class="row">
    <div class="col-md-4 margin-top-15">
        <div class="card card-profile">
            <div class="card-avatar">
                <img class="img" ng-src="{{ProfilePicPath}}" src="/img/faces/user.png">
            </div>
            <div class="card-content">
                <h6 class="category text-gray">{{Designation}}</h6>
                <h4 class="card-title">{{FirstName+' '+LastName}}</h4>
                <!--<p class="card-content">
                    “Hard work and an open mind — it’s the only way to realize the potential that is inside every one of us.” ~ Chrissie Wellington.
                </p>
                <a href="#pablo" class="btn btn-primary btn-round">Edit</a>-->
            </div>
        </div>
    </div>
    <input type="hidden" id="hfTimeZone" />
    <div class="col-md-8">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Edit Profile</h4>
                <p class="category">Complete your profile</p>
            </div>
            <div class="card-content">
                <form name="UserInfo" novalidate ng-submit="SaveUser()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Employee ID</label>
                                <input class="form-control" ng-model="Email" type="text" ng-readonly="true">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating is-focused">
                                <label class="control-label">Email address</label>
                                <input class="form-control" type="email" ng-model="Email" ng-readonly="true">
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>First Name</label>
                                    <input ng-model="FirstName" name="FirstName" required>
                                    <div ng-messages="UserInfo.FirstName.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Last Name</label>
                                    <input ng-model="LastName" name="LastName" required>
                                    <div ng-messages="UserInfo.LastName.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Address</label>
                                <input ng-model="Address" name="Address">
                            </md-input-container>
                        </div>
                    </div>
                    <!--VINEETHA<div class="row">
                        <div class="col-md-4">
                            <md-input-container class="md-block">
                                <div class="form-control" ngf-select ng-model="profilePicFile" name="profilePicFile" ngf-pattern="'image/*'"
                                     ngf-accept="'image/*'">Upload Picture</div>
                                <img ngf-thumbnail="profilePicFile || '{{ProfilePicPath}}'" src="{{ProfilePicPath}}">
                            </md-input-container>
                        </div>
                    </div>-->
                    <!--NAVEEN-->
                    <div class="row">
                        <div class="col-md-6">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Date of Birth</label>
                                <input type="date" value="yyyy-MM-dd" class="input-medium search-query" required   ng-model="DateofBirth">
                                <!--<input ui-date="{dateFormat: 'yy-mm-dd'}" ui-date-format="yy-mm-dd" ng-model="DateofBirth"/>-->

                                <!--<md-datepicker ng-model="DateofBirth" ng-model-options="{timezone: 'utc'}" name="DateofBirth" md-placeholder="Date of Birth" required></md-datepicker>
                                <div ng-messages="UserInfo.DateofBirth.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>-->
                            </md-input-container>
                        </div>

                        <div class="col-md-6">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Mobile</label>
                                <input ng-model="Mobile" name="Mobile" required ng-pattern="/^\d{10}$/">
                                <div ng-messages="UserInfo.Mobile.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="pattern">Please enter a valid mobile number</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>

                    <!--NAVEEN-->
                    <div class="row">
                        <div class="col-md-12">
                            <md-input-container class="md-block">
                                <div class="form-control" ngf-select ng-model="profilePicFile" name="profilePicFile" ngf-pattern="'image/*'"
                                     ngf-accept="'image/*'">Upload Picture</div>
                                <img class="img-responsive" ngf-thumbnail="profilePicFile || '{{ProfilePicPath}}'" src="{{ProfilePicPath}}">
                            </md-input-container>
                        </div>
                    </div>


                    <!--VINEETHA<div class="row">
                        <div class="col-md-4">
                            <md-datepicker ng-model="DateofBirth" name="DateofBirth" md-placeholder="Date of Birth" required></md-datepicker>
                            <div ng-messages="UserInfo.DateofBirth.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Mobile</label>
                                <input ng-model="Mobile" name="Mobile" required ng-pattern="/^\d{10}$/">
                                <div ng-messages="UserInfo.Mobile.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="pattern">Please enter a valid mobile number</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>-->
                    <!--<div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>About Me</label>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"> Hard work and an open mind — it’s the only way to realize the potential that is inside every one of us.</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!--NAVEEN--><div class="row">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                            <a href="#/Dashboard" class="btn">Cancel</a>
                        </div>
                    </div>

                    <!--VINEETHA<button type="submit" class="btn btn-primary pull-right">Update Profile</button>-->
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>