﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkProjects").addClass("active");//make this menu has active
    })
</script>
<div ng-controller="ProjectController" ng-cloak>
    <div class="card">
        <div class="card-header" data-background-color="purple">
            <div class="row">
                <div class="col-sm-2"><div class="pageTitle">Projects</div></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-9 datatables_filter" id="dataTables-example_filter">
                            <span class="formGroup input-group">
                                <input type="text" aria-controls="dataTables-example" placeholder="{{'Search'}}"
                                       ng-model="filterBy" ng-change="onChange()" class="form-control ng-pristine ng-untouched ng-valid header-input" />
                                <span class="input-group-btn">
                                    <a class="btn clear-filter" ng-show="filterBy.length>0" data-ng-click="clearSearchParams()"><span class="fa fa-remove"></span></a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-content table-responsive">
            <table tr-ng-grid="" items='Projects' page-items="PageSize" total-items="TotalRecordsCount" on-data-required-delay="5" enable-filtering="false"
                   on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)"
                   fields=show_fields selection-mode="None" enable-sorting="true">
                <thead>
                    <tr>
                        <th field-name="ZohoProjectID" display-name="ZohoProjectID" enable-filtering="false" enable-sorting="false"></th>
                        <th field-name="Name" display-name="Projects" enable-filtering="false" enable-sorting="true"></th>
                        <th field-name="Owner" display-name="Owner" enable-filtering="false" enable-sorting="true"></th>
                        <th field-name="Description" display-name="Description" enable-filtering="false" enable-sorting="true"></th>
                        <!--<th field-name="Status" display-name="Status" enable-filtering="false" enable-sorting="true"></th>
                        <th field-name="Active" display-name="" enable-filtering="false" enable-sorting="false"></th>-->

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--<td field-name="Active">
                            <span>
                                <md-switch ng-model="gridItem.Active" ng-change="showEnableDisableConfirm(gridItem, $event)">
                                </md-switch>
                            </span>
                        </td>-->
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <span class="form-group">
                                        Show
                                        <md-input-container>
                                            <md-select ng-model="pPageSizeObj.selected" ng-change="changePageSize()">
                                                <md-option ng-repeat="item in pageSizeList" ng-value="item.value">
                                                    {{item.text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        entries
                                    </span>
                                </div>
                                <div class="col-sm-8 text-right">
                                    <span tr-ng-grid-pager=""></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>


