﻿
<md-dialog class="col-lg-7 col-md-8 col-sm-12 col-xs-12 md-content-overflow" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3 class="title">{{Name}}</h3>
            <p class="category"></p>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="Cancel()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <div id="addphoto">
        <!--<div class="card-header" data-background-color="purple">
            <h4 class="title">{{Name}}</h4>
        </div>-->
        <md-dialog-content>
            <div class="md-dialog-content">
                    <div class="form-group label-floating is-focused">
                        <label class="control-label">Name</label>
                        <input type="text" ng-model="Name" class="form-control" disabled="disabled">
                        <span class="material-input"></span>
                    </div>

                    <div class="form-group label-floating is-focused">
                        <label class="control-label">Owner</label>
                        <input type="text" ng-model="Owner" class="form-control" disabled="disabled">
                        <span class="material-input"></span>
                    </div>

                    <div class="form-group label-floating is-focused">
                        <label class="control-label">Description</label>
                        <input type="text" ng-model="Description" class="form-control" disabled="disabled">
                        <span class="material-input"></span>
                    </div>


                    <div class="clearfix"></div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <a ng-click="Cancel()" class="btn btn-md">Close</a>
            <div class="clearfix"></div>
        </md-dialog-actions>
    </div>
</md-dialog>
<!--End of popup-->
