﻿
<md-dialog class="col-lg-7 col-md-8 col-sm-12 col-xs-12 md-content-overflow" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3 class="title">{{Name}}</h3>
            <p class="category"></p>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="Cancel()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <div class="card card-stats">
                <div class="card-header">
                    <img class="md-user-avatar" ng-src="{{ProfilePicPath}}" src="/img/faces/user.png" />
                </div>
                <div class="card-content">
                    <div class="md-title">{{Name}}</div>
                    <div class="md-subhead">{{Designation}}</div>
                </div>
                <div class="clearfix"></div>
                <div class="card-content margin-top-15">
                    <p>
                        Hello there,<br />
                        I work here as a {{Designation}}. You could wish me on {{BirthDate}}.
                    </p>
                </div>

                <div class="card-footer">
                    <div class="stats">
                        Use the below communication channels to contact me:<br />
                        <i class="fa fa-envelope" aria-hidden="true"></i> : {{Email}} <br />
                        <i class="fa fa-phone-square" aria-hidden="true"></i>  : {{Phone}}
                    </div>
                </div>
            </div>

            <!--<md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" ng-src="{{ProfilePicPath}}" src="/img/faces/user.png" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">{{Name}}</span>
                        <span class="md-subhead">{{Designation}}</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="{{ProfilePicPath}}" class="md-card-image" alt="{{Name}}" src="/img/faces/user.png">
                <md-card-content>
                    <p>
                        Hello there,<br />
                        I work here as a {{Designation}}. You could wish me on {{BirthDate}}.
                    </p>
                    <p>
                        Use the below communication channels to contact me:<br />
                        <i class="fa fa-envelope" aria-hidden="true"></i> : {{Email}} <br />
                        <i class="fa fa-phone-square" aria-hidden="true"></i>  : {{Phone}}
                    </p>
                </md-card-content>
            </md-card>-->


        </div>
    </md-content>
    <md-dialog-actions layout="row">
        <a ng-click="Cancel()" class="btn btn-md">Close</a>
        <div class="clearfix"></div>
    </md-dialog-actions>
</md-dialog>
