﻿<script type="text/javascript">
    var newsImages = [];
    $(document).ready(function () {
        console.log(isRoleAdmin)
        if (isRoleAdmin) {
            tinymce.EditorManager.editors = [];
            tinymce.init({
                max_chars: 2000,
                selector: '#txtNewsEditor',
                paste_data_images: true,
                height: "500",
                plugins: [
               "advlist autolink lists link image charmap print preview hr anchor pagebreak",
               "searchreplace wordcount visualblocks visualchars code fullscreen",
               "insertdatetime media nonbreaking save table contextmenu directionality",
               "emoticons template paste textcolor colorpicker textpattern"
                ],
                toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | customimage ",
                toolbar2: "print preview media | forecolor backcolor emoticons",
                setup: function (editor) {
                    function toTimeHtml(date) {
                        return ' <input type="file" onchange="upload(this);" />';
                    }

                    function showPopup() {
                        $("#myModal").modal("show");
                        $("#btnUpload").click(function () {
                            var formData = new FormData();
                            var totalFiles = document.getElementById("fileUpload").files.length;
                            for (var i = 0; i < totalFiles; i++) {
                                var file = document.getElementById("fileUpload").files[i];
                                formData.append("fileUpload", file);
                            }
                            $.ajax({
                                type: "POST",
                                url: getBaseUrl() + '/News/UploadNewsPhoto?nocache=' + new Date().getTime(),
                                data: formData,
                                dataType: 'json',
                                contentType: false,
                                processData: false,
                                success: function (response) {
                                    console.log(operationType)
                                    if (operationType == "Add") {
                                        newsImages.push(response);
                                    }
                                    console.log(response)
                                    editor.insertContent("<img src=" + response + " >");
                                    $("#myModal").modal("hide");
                                },
                                error: function (error) {
                                    alert("errror");
                                }
                            });
                        })
                    }
                    editor.addButton('customimage', {
                        icon: 'image',
                        tooltip: "Upload Image",
                        onclick: showPopup
                    });
                }
            }).then(function (editors) {
                if (editorDescription != undefined && editorDescription != "") {
                    tinyMCE.activeEditor.setContent(editorDescription);
                }
            });
        }
        else {
            console.log('false')

            setTimeout(function () {
                $(".news-description-view").each(function () {
                    $(this).html($(this).text());
                });
            }, 1500);
        }
    })

</script>
<style>
    .md-dialog {
        min-width: 700px !important;
    }

    .modal-backdrop {
        z-index: 0;
    }

    .lean-overlay {
        z-index: 100 !important;
        display: none !important;
    }
</style>

<!--Add News modal dialog-->
<md-dialog class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
    <form ng-cloak name="newsForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{"News Details"}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="Cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label>News Title</label>
                            <!--{{title}}-->
                            <input type="text" value="{{editedNewsTitle}}" name="editedNewsTitle" ng-disabled="true">
                        </md-input-container>
                    </div>
                    <div class="col-md-12">
                        <!--<md-input-container class="md-block">
                            <label>News Category</label>
                            <!--<md-select name="SelectedCategory" ng-model="SelectedCategory" ng-disabled="true">
                                <md-option ng-repeat="(index,category) in categories" value="{{category.Id}}" ng-selected="index == SelectedCategoryIndex">{{category.Name}}</md-option>
                            </md-select>-->
                           <!-- <input type="text" value="{{category}}" name="category" ng-disabled="true">
                            <!--<span class="material-input"></span>-->
                       <!-- </md-input-container>-->
                        <md-input-container class="md-block">
                            <label>News Category</label>
                            <input type="text" value="{{editedNewsCategoryId}}" name="editedNewsCategoryId" ng-disabled="true">
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="md-block">
                            <label>News Description</label>
                            <div class="form-group label-floating is-empty">
                                <div class="news-description-view">
                                    {{editedNewsDescription}}
                                </div>
                                <span class="material-input"></span>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <a ng-click="Cancel()" class="btn btn-md">Close</a>
            <div class="clearfix"></div>
        </md-dialog-actions>
    </form>
</md-dialog>
