﻿<style>
    md-dialog-content {
        max-height: 500px;
    }
</style>
<!--Popup for Add/Edit user -->
<md-dialog class="col-lg-8 col-md-10 col-sm-8 col-xs-12">
    <form name="Registrationform"  ng-submit="Save()">
       <md-dialog-content>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <!--//input for company-->
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>CompanyName</label>
                                <input ng-model="CompanyName" name="CompanyName" required class="txt-string">
                                <div ng-messages="Registrationform.CompanyName.$error" ng-show="Registrationform.$submitted || Registrationform.CompanyName.$touched">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Company Email</label>
                                <input ng-model="CompanyEmail" name="CompanyEmail" type="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required">
                                <div ng-messages="Registrationform.CompanyEmail.$error" ng-show="Registrationform.$submitted || Registrationform.CompanyEmail.$touched">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="email">Invalid format.</div>
                                    <div ng-message="pattern">Invalid format.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label for="Address">Address</label>
                                <textarea ng-model="Address" rows="4" cols="50" required></textarea>
                                <div ng-messages="Registrationform.Address.$error" ng-show="Registrationform.$submitted || Registrationform.Address.$touched">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Zipcode</label>
                                <input ng-model="Zipcode" type="number" name="Zipcode" required>
                                <div ng-messages="Registrationform.Zipcode.$error" ng-show="Registrationform.$submitted || Registrationform.Zipcode.$touched">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                     </div>   
                        <div class="col-lg-6">
                            <div class="col-md-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>First Name</label>
                                    <input ng-model="FirstName" name="FirstName" required class="txt-string">
                                    <div ng-messages="Registrationform.FirstName.$error" ng-show="Registrationform.$submitted || Registrationform.FirstName.$touched">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Contact Email</label>
                                <input ng-model="UserEmail" name="UserEmail" type="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required">
                                <div ng-messages="Registrationform.UserEmail.$error" ng-show="Registrationform.$submitted || Registrationform.UserEmail.$touched">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="email">Invalid format.</div>
                                    <div ng-message="pattern">Invalid format.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Mobile</label>
                                <input ng-model="Mobile" name="Mobile" required ng-pattern="/^\d{10}$/">
                                <div ng-messages="Registrationform.Mobile.$error" ng-show="Registrationform.$submitted || Registrationform.Mobile.$touched">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="pattern">Please enter a valid mobile number</div>
                                </div>
                            </md-input-container>
                        </div>
                      
                        
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <input type="submit" class="btn btn-md btn-primary" value="Save" ng-disabled="Registrationform.$invalid"/>
            <a ng-click="clearFields()" class="btn btn-md" id="btnClose">Clear</a>
            <div class="clearfix"></div>
        </md-dialog-actions>
    </form>

</md-dialog>
<!--End of popup-->
