﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkUsers").addClass("active");//make this menu has active

        $(".txt-string").keypress(function (e) {
            return allowOnlyStrings(e, this);
        })

        //to allow only string characters
        function allowOnlyStrings(e, t) {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else {
                return true;
            }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 32 || charCode == 46)
                return true;
            else
                return false;
        }
    })
</script>
<div ng-controller="UserController" ng-cloak>
    <div class="card">
        <div class="card-header" data-background-color="purple">
            <div class="row">
                <div class="col-sm-2"><div class="pageTitle">Users</div></div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-9 datatables_filter" id="dataTables-example_filter">
                            <span class="formGroup input-group">
                                <input type="text" aria-controls="dataTables-example" placeholder="{{'Search'}}"
                                       ng-model="filterBy" ng-change="onChange()" class="form-control box-shadowNone text-white ng-pristine ng-untouched ng-valid header-input" />
                                <span class="input-group-btn">
                                    <a class="btn padding-zero clear-filter" ng-show="filterBy.length>0" data-ng-click="clearSearchParams()"><span class="fa fa-remove"></span></a>
                                </span>
                            </span>
                        </div>
                        <div class="col-md-3 text-right" permission="Administrator">
                            <!--<a ng-click="ShowUploadPopup()" class="btn btn-primary margin-botom-30">Upload<div class="ripple-container"></div></a>-->
                            <a ng-click="ShowPopup(true)" class="btn btn-sm btn-outline-primary">Add User<div class="ripple-container"></div></a>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="card-content table-responsive">
            <table tr-ng-grid="" items='Users' page-items="PageSize" total-items="TotalRecordsCount" on-data-required-delay="5" enable-filtering="false"
                   on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)"
                   fields=show_fields selection-mode="None" enable-sorting="true">
                <thead>
                    <tr>
                        <th field-name="UserId" display-name="Employee ID" enable-filtering="false" enable-sorting="true"></th>
                        <th field-name="Name" display-name="Name" enable-filtering="false" enable-sorting="true"></th>
                        <!--<th field-name="LastName" display-name="Last Name" enable-filtering="false" enable-sorting="true"></th>-->
                        <th field-name="Role" display-name="Role" enable-filtering="false" enable-sorting="true"></th>
                        <th field-name="Department" display-name="Department" enable-filtering="false" enable-sorting="true"></th>
                        <th field-name="Designation" display-name="Designation" enable-filtering="false" enable-sorting="true"></th>
                        <th field-name="Mobile" display-name="Mobile" enable-filtering="true" enable-sorting="true"></th>

                        <th field-name="Active" display-name="Status" enable-filtering="false" enable-sorting="true"></th>
                        <th display-name="Action" enable-filtering="false" enable-sorting="false"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>
                                <a>
                                    <i ng-show="IsAdmin()" class="fa fa-pencil fa-1-6x padding-right-5" ng-click="ShowPopup(false,gridItem)" title="Edit"></i>
                                    <i ng-hide="IsAdmin()" class="fa fa-eye fa-1-6x padding-right-5" ng-click="ShowPopup(false,gridItem)" title="View"></i>
                                </a>
                            </span>
                        </td>
                        <td field-name="Active">
                            <span ng-show="gridItem.Role!='ADMIN'">
                                <md-switch aria-label="test" ng-model="gridItem.Active" ng-change="showEnableDisableConfirm(gridItem, $event)">
                                </md-switch>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <span class="form-group">
                                        Show
                                        <md-input-container>
                                            <md-select aria-label="test1" ng-model="pPageSizeObj.selected" ng-change="changePageSize()">
                                                <md-option ng-repeat="item in pageSizeList" ng-value="item.value">
                                                    {{item.text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        entries
                                    </span>
                                </div>
                                <div class="col-sm-8 text-right">
                                    <span tr-ng-grid-pager=""></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp margin-top-70" md-component-id="UserInfodiv">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools"></h1>
        </md-toolbar>
        <md-content layout-padding>

        </md-content>
    </md-sidenav>
</div>


<!--Popup for Upload users -->
<div style="visibility: hidden">
    <div>
        <div class="md-dialog-container col-lg-6 col-md-6 col-sm-12 col-xs-12" id="usersUploadDialog">
            <form name="usersUpload" novalidate ng-submit="UploadUsers()">
                <md-dialog>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Upload Users</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="cancel()">
                                <i class="fa fa-times"></i>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-dialog-content>
                        <div class="md-dialog-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a ng-click="downloadTemplate()" class="btn btn-primary pull-right">Download template</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <md-input-container class="md-block">
                                        Upload file
                                        <input type="file" class="form-control" ngf-select ng-model="file" name="file" ngf-pattern="'.xlsx'" ngf-max-size="20MB"
                                               ngf-accept="'.xlsx'" />

                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </md-dialog-content>
                    <md-dialog-actions layout="row">
                        <input type="submit" class="btn btn-primary pull-right" value="Submit" />
                        <a ng-click="cancel()" class="btn btn-primary pull-right">Cancel</a>
                        <div class="clearfix"></div>
                    </md-dialog-actions>
                </md-dialog>
            </form>
        </div>
    </div>
</div>
<!--End of popup-->
