﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkVideoAlbums").addClass("active");//make this menu has active
    })
</script>


<div class="card" id="image_full">
    <div class="card-header" data-background-color="purple">
        <div class="col-md-10">
            <div class="pageTitle">Videos</div>
        </div>
        <div class="col-md-2 text-right" permission="Administrator">
            <a ng-click="ShowAddVideoAlbum()" class="btn btn-outline-primary btn-sm margin-none">Add Video Album</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="card-content margin-top-M20 photogallery">
            <div class="col-md-3 col-sm-4" ng-repeat="a in albums">
                <div class="card video-card">
                    <div><img src="../../img/video-icon.png" class="img-responsive" ng-click="ShowAllVideos(a)" /></div>
                    <div class="card-footer">
                        <div class="card-title">
                            <a ng-click="ShowAllVideos(a)">{{a.Name}}</a>
                        </div>
                        <div class="icoBtn">
                            <a class="md-fab md-mini md-edit-theme md-button waves-effect waves-light mar_top_M40 ng-isolate-scope" ng-click="ShowEditVideoAlbum(a)" permission="Administrator">  <i class="fa fa-edit text-white"></i></a>
                            <a class="md-fab md-mini md-button waves-effect waves-light mar_top_M40" ng-click="DeleteAlbum(a)" permission="Administrator">
                                <i class="fa fa-trash text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!--<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2 text-right">

                <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
               Add Video
             </md-button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <ul  class="photogallery">
                    <li class="text-center" ng-repeat="album in Albums">
                        <div><iframe width="235" height="132" src="{{album.thumbUrl}}" frameborder="0" allowfullscreen></iframe></div>
                        <div><h4><a href="{{album.GalleryUrl}}">{{album.title}}</a></h4></div>
                        <div><a href="#"><i class="fa fa-trash text-danger"></i></a></div>
                    </li>

                </ul>

            </div>
        </div>


    </div>
</div>-->
