﻿<script>
    $(document).ready(function () {
        $("#sidebarMenu li").removeClass("active");//remove all active menu selection
        $("#lnkVideoAlbums").addClass("active");//make this menu has active
    })
</script>

<div class="card">
    <div class="card-header" data-background-color="purple">
        <div class="row">
            <div class="col-sm-4">
                <div class="pageTitle">{{albumName}} </div>
            </div>
            <div class="col-sm-8 text-right">
                <a href="#/VideoAlbums" class="btn btn-sm btn-outline-info margin-none">Back</a>
                <a ng-click="ShowAddVideo()" permission="Administrator" class="btn btn-sm btn-outline-primary margin-none">Upload Video</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="card-content margin-top-M20 photogallery">
            <div class="col-md-3 col-sm-4" ng-repeat="a in videos">
                <div class="card">
                    <a ng-click="openLightboxModal($index)">
                        <img src="" data-url="{{a.url}}" data-id="{{a.Id}}" class="video-image img-responsive video-hover" ng-click="showVideoPopup(a.url, a.caption)" />
                        <i class="fa fa-youtube-play fa-4x video-play video-image" title="Play" style="display:none" data-video-play-url="{{a.url}}+{{a.Id}}" data-url="{{a.url}}" data-id="{{a.Id}}" ng-click="showVideoPopup(a.url, a.caption)"></i>
                        <i class="fa fa-spinner fa-pulse fa-2x video-loading" data-loading-url="{{a.url}}+{{a.Id}}" title="Please wait...">
                        </i>
                    </a>
                    <div class="card-footer">
                        <div class="card-title">{{a.caption}} </div>
                        
                        <div class="icoBtn"><a ng-click="ShowEditVideo(a)" class="md-fab md-mini md-edit-theme md-button waves-effect waves-light mar_top_M40" permission="Administrator"><i class="fa fa-edit text-white"></i></a>
                        <a ng-click="DeleteVideo(a)" class="md-fab md-mini md-button waves-effect waves-light mar_top_M40" permission="Administrator">  <i class="fa fa-trash text-danger text-white"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Popup for display & play vide-->
<div style="visibility: hidden">
    <div>
        <div class="md-dialog-container" id="divShowPopup">
            <md-dialog class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>{{videoCaption}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="Cancel()">
                            <i class="fa fa-times"></i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content" style="height:450px">
                        <div class="row">
                            <div class="col-md-12">
                                <iframe id="iframe" style="display: block;width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video-gallery"></iframe>
                            </div>
                        </div>
                    </div>
                </md-dialog-content>
                <!--<md-dialog-actions layout="row">
                    <a ng-click="Cancel()" class="btn btn-md">Close</a>
                    <div class="clearfix"></div>
                </md-dialog-actions>-->
            </md-dialog>
        </div>
    </div>
</div>
<!--End of popup-->
