﻿@{
    ViewBag.Title = "Flatworld CMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="google-signin-client_id" content='@System.Web.Configuration.WebConfigurationManager.AppSettings["GoogleClientId"]'>

<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<input type="hidden" id="hfTimeZone" />

<div ng-view></div>
<script>
    $(document).ready(function () {
      
        var date = new Date();
        var text = date.toTimeString().substring(8, 100);
        document.getElementById("hfTimeZone").value = text.substring(4, 9);
        timeZone = document.getElementById("hfTimeZone").value;
        $.ajax({
            async: true,
            type: "POST",
            dataType: 'JSON',
            url: '@Url.Action("CreateTimezoneSession","Home")',
            data: {
                timeZone: timeZone
            }
        }).success(function (result) { });

    })
    function onLoad() {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    }
</script>